@charset "UTF-8";

// Primary Colors
$color-primary01: #9D1953;
$color-primary02: #431124;//
$color-primary03: #E5EBFF;
$color-primary04: #FFF9FC;
$color-primary05: #DFF5FF;
$color-primary06: #8B1943;
$color-primary07: #9D1953;

// Secondary Colors
$color-secondary00: #CB82A1;
$color-secondary01: #431124;//
$color-secondary02: #9D2B8B;
$color-secondary03: #E0D7FB;
$color-secondary04: #8A949E;
$color-secondary05: #E1E1E1;
$color-secondary06: #F6F6F6;
$color-secondary07: #231F20;
$color-secondary08: #cfecfa;
$color-secondary09: #9FA0A0;
$color-secondary10: #B8768E;
$color-secondary11: #FFE4F0;

// Status Colors
$color-success: #06a358;
$color-warning: #ffb525;
$color-error: #F2303C;
$color-disabled: #e9ecef;

// Stroke
$color-stroke00: #ffffff;
$color-stroke01: #222222;
$color-stroke02: #636466;//
$color-stroke03: #75777A;//
$color-stroke04: #D6D7D9;
$color-stroke05: #E8E8E8;//

$color-stroke06: #2F2F2F;
$color-stroke07: #D9D9D9;
$color-stroke08: #E6E6E6;
$color-stroke09: #D6D7D9;

// Fill
$color-fill00: #ffffff;
$color-fill01: #231F20;
$color-fill02: #636466;//
$color-fill03: #939598;
$color-fill04: #C7C8CA;
$color-fill05: #F4F5F6;

$color-fill06: #FAFBFD;//
$color-fill07: #F0F0F0;
$color-fill08: #F5F5F5;
$color-fill09: #C7C8CA;
$color-fill10: #FFF7F9;
$color-fill11: #E8E8E8;
$color-fill12: #FAFBFD;

// Text
$color-text00: #000000;
$color-text01: #231F20;
$color-text02: #636466;
$color-text03: #8A949E;
$color-text04: #9FA0A0;
$color-text05: #6F6F6F;
$color-text06: #2F2F2F;
$color-text07: #231F20;
$color-text08: #4A4F66;
$color-text09: #636466;
