@use '@/scss/common/mixin' as *;
@use '@/scss/common/variable' as *;
@use '@/scss/common/color' as *;

.table-view {
  td,
  th {
    &:first-child {
      border-left: 0 none;
    }
  }
  td,
  th {
    &:last-child {
      border-right: 0 none;
    }
  }
  th {
    font-weight: 700;
  }
  .title-area {
    padding: rem(16) rem(20);
    border-top: 2px solid $color-secondary07;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      @include font(16, 700);
      color: $color-text00;
    }
  }
  .info-area {
    padding: rem(16) rem(20);
    border-top: 1px solid $color-stroke09;
    display: flex;
    gap: rem(20);
    @include mobile-sm {
      flex-direction: column;
    }
    dl {
      display: flex;
      gap: rem(24);
      dt {
        @include font(16, 700);
        position: relative;
        color: $color-text01;
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          right: rem(-12);
          width: 1px;
          height: rem(12);
          background-color: $color-stroke09;
        }
      }
      dd {
        @include font(16, 400, $color: $color-text09);
      }
    }
  }
  .cont-area {
    //border-bottom: 1px solid $color-stroke04;
    font-size: 1rem;
    color: $color-text02;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
    border-top: 1px solid $color-stroke09;
    padding: rem(20) 0;
    @include mobile-sm {
      padding: rem-m(20) 0;
    }
    .faq-answer {
      display: flex;
      gap: rem(10);
      padding: 0 rem(20);
      .text-area {
        padding: 0;
      }
    }
    .faq-label {
      margin-right: 0;
      flex: 0 0 auto;
      white-space: nowrap;
      &.type02 {
        background-color: $color-primary02;
      }
    }
    .file-area {
      //margin-top: 0;
      margin-top: rem(20);
      display: flex;
      align-items: center;
      padding: rem(23) rem(20);
      background-color: $color-fill06;
      border-radius: rem(8);
      border: 1px solid $color-stroke05;
      strong {
        position: relative;
        flex-shrink: 0;
        color: $color-text01;
        @include font(16, 700);
        padding-right: rem(30);
        @include mobile-sm {
          align-self: baseline;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        flex: 1;
        min-width: 0;
        li {
          display: flex;
          gap: rem(10);
          > a {
            display: flex;
            align-items: center;
            min-width: 0;
            @include font(16, 400, $color: $color-text02);
            i {
              flex-shrink: 0;
              margin-right: rem(4);
              &.ico-file {
                background-image: url('/assets/icons/ico-file-gray-24.svg');
              }
            }
            .ellipsis {
              width: 100%;
              min-width: 0;
            }
          }
          .btn-wrap {
            margin-top: 0;
            .btn-line {
              border-radius: rem(8);
              span {
                font-size: rem(14);
                margin-left: rem(4);
              }
            }
          }
        }
      }
    }
    &:has(+ form) {
      border-bottom: 0;
    }
    &:has(.faq-answer) {
      background-color: $color-fill06;
    }
    .video-area {
      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: rem(16);
        border: none;
      }
      & + .text-area {
        margin-top: rem(20);
      }
    }
    .img-area {
      img {
        vertical-align: top;
      }
      & + .img-area {
        margin-top: rem(20);
      }
    }
    .subtitle-area {
      margin-top: rem(20);
      padding: rem(20);
      border: 1px solid $color-stroke04;
      border-radius: rem(8);
      color: $color-text01 !important;
      height: rem(180);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-fill03;
        border-radius: 12px;
      }
    }
    .text-area {
      flex: 1 1 auto;
      min-width: 0;
      width: auto;
      padding: 0 rem(20);
      @include responsive {
          max-width: 100%;
          width: 100%;
          overflow: auto;
        }
      p {
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          height: auto !important;
        }
      }
      table {
        // width: auto !important;
        max-width: 100% !important;
        @include responsive {
          max-width: 100%;
          width: 100%;
          overflow: auto;
        }
      }
    }
    .table-template-scroll {
      width: 100%;
      overflow: auto;
      table {
        // width: auto !important; 2026-12-17 : 사용자가 테이블 생성시 width px값 자동 입력되서 삭제
        th,
        td {
          border: 1px solid #ddd;
          padding: rem(5);
        }
        tr {
          border-top: 0 none !important;
        }
      }
    }
    .subtitle-title {
      font-size: 1rem;
    }
    &.bd-bottom {
      border-bottom: 2px solid $color-secondary01;
    }
    + form {
      margin-top: -1px;
    }
  }
  .post-nav {
    border-top: 1px solid $color-secondary07;
    border-bottom: 1px solid $color-secondary07;
    dl {
      display: flex;
      padding: rem(16) rem(20);
      &.next {
        border-bottom: 1px solid $color-stroke04;
      }
      dt {
        @include font(16, 700);
        position: relative;
        padding-right: rem(24);
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: $color-text01;
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          right: rem(12);
          width: 1px;
          height: rem(12);
          background-color: $color-stroke04;
        }
        i {
          margin-right: rem(12);
        }
      }
      dd {
        @include font(16, 400, $color: $color-text02);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          color: $color-text02;
        }
      }
    }
  }
  .btn-wrap {
    margin-top: rem(20);
    justify-content: flex-start;
  }
  .faq-label {
    width: rem(30);
    height: rem(30);
    background-color: $color-primary01;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(10);
    vertical-align: middle;
  }
  // 입찰공고 조회
  &.table-wrap {
    th {
      padding: rem(20) rem(16);
      border-top: 1px solid $color-stroke04;
    }
  }
  // 답변보기
  &.answer {
    margin-top: rem(20);
    .title-area {
      border-top: 1px solid $color-stroke02;
      h3 {
        i {
          margin-right: rem(10);
        }
        @include font(18, 700, $color: $color-primary01);
      }
    }
  }
  //faq
  &.faq-view {
    .info-area {
      border-top: 0 none;
      padding: 0;
    }
  }
}
