<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>회사소개</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>에스지레일(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
              <li class="is-active">
                <a href="#"><span>동북선도시철도운영(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>인재상</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">회사소개</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도운영(주)</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist"  aria-label="회사소개"><!-- 웹접근성 2026-01-27 : aria-label 값 수정 -->
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CEO인사말
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CI소개
                </button>
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="true"
                  tabindex="0"
                >
                  캐릭터소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  경영이념
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  연혁
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-6"
                  aria-controls="panel-6"
                  aria-selected="false"
                  tabindex="-1"
                >
                  조직도
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-7"
                  aria-controls="panel-7"
                  aria-selected="false"
                  tabindex="-1"
                >
                  윤리경영
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-8"
                  aria-controls="panel-8"
                  aria-selected="false"
                  tabindex="-1"
                >
                  안전경영방침
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <div class="gt-intro-wrap">
                    <div class="gt-box" data-animation="fade-up">
                      <div class="gt-text" data-animation="fade-up">
                        <strong class="gt-title">지티</strong>
                        <strong>“동북선도시철도의 안전은 내가 지킨다.”</strong>
                        <p>
                          동북선도시철도의 빠른 속도를 닮고 싶었던 꼬마 히어로는 동북선도시철도의 앞 글자 GT를<br />따와
                          본인의 이름을 지었다. 더불어 승객들이 GTX를 타며 Good Time을 보냈으면
                          좋겟다는 의미 또한 담겨있다.<br />언제 어디서든 먼 곳을 빠르게 출동할 수
                          있는 멋진 히어로가 되고 싶은 지티는 현재 동북선도시철도노선의 안전을 지키고 있다.
                        </p>
                      </div>
                      <div class="gt-img" data-animation="fade-up">
                        <img src="/assets/images/intro/gt-img01.png" alt="" />
                      </div>
                    </div>
                    <div class="gt-img-box" data-animation="fade-up">
                      <ul>
                        <li>
                          <img src="/assets/images/intro/gt-img02.png" alt="" />
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img03.png" alt="" />
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img04.png" alt="" />
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img05.png" alt="" />
                        </li>
                      </ul>
                    </div>
                    <hr class="divider" aria-hidden="true" data-animation="fade-up" />
                    <div class="gt-img-wrap" data-animation="fade-up">
                      <ul>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img06.png"
                            alt="GT 캐릭터가 안내판을 확인하는 모습"
                          />
                          <span>안내판</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img07.png"
                            alt="GT 캐릭터가 넘어짐 주의를 알리는 모습"
                          />
                          <span>넘어짐</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img08.png"
                            alt="GT 캐릭터가 끼임 주의를 알리는 모습"
                          />
                          <span>끼임</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img09.png"
                            alt="GT 캐릭터가 핸드폰 사용에 대해 안내하는 모습"
                          />
                          <span>핸드폰</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img10.png"
                            alt="GT 캐릭터가 손잡이 잡기를 안내하는 모습"
                          />
                          <span>손잡이 잡기</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img11.png"
                            alt="GT 캐릭터가 대피 방법을 안내하는 모습"
                          />
                          <span>대피</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img12.png"
                            alt="GT 캐릭터가 안전선 준수를 안내하는 모습"
                          />
                          <span>안전선</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img13.png"
                            alt="GT 캐릭터가 열차 탑승 방법을 안내하는 모습"
                          />
                          <span>열차탑승</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img14.png"
                            alt="GT 캐릭터가 주의사항을 안내하는 모습"
                          />
                          <span>주의사항</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img15.png"
                            alt="GT 캐릭터가 확성기로 안내방송을 하는 모습"
                          />
                          <span>확성기</span>
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img16.png" alt="GT 캐릭터가 응원하는 모습" />
                          <span>응원</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img17.png"
                            alt="GT 캐릭터가 출퇴근을 안내하는 모습"
                          />
                          <span>출퇴근</span>
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img18.png" alt="GT 캐릭터가 안내하는 모습" />
                          <span>안내</span>
                        </li>
                        <li>
                          <img src="/assets/images/intro/gt-img19.png" alt="GT 캐릭터가 인사하는 모습" />
                          <span>인사</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img20.png"
                            alt="GT 캐릭터가 음료 쏟기 주의를 알리는 모습"
                          />
                          <span>음료쏟기</span>
                        </li>
                        <li>
                          <img
                            src="/assets/images/intro/gt-img21.png"
                            alt="GT 캐릭터가 히어로 역할을 하는 모습"
                          />
                          <span>히어로</span>
                        </li>
                      </ul>
                    </div>
                    <div class="btn-wrap" data-animation="fade-up">
                      <a href="#" class="btn-primary lg">
                        <span>캐릭터 이미지 다운로드</span>
                        <i class="ico-arrow-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-6"
                  role="tabpanel"
                  aria-labelledby="tab-6"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-7"
                  role="tabpanel"
                  aria-labelledby="tab-7"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-8"
                  role="tabpanel"
                  aria-labelledby="tab-8"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
