<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>About Us</strong><span>CI소개</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도(주)</span></a>
                  </li>
                  <li class="is-active">
                    <span>CI소개</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <div class="ci-wrap">
              <div class="ci-box" data-animation="fade-up">
                <div class="ci-box-img">
                  <img src="/assets/images/intro/db-logo.svg" alt="동북선도시철도 로고이미지" />
                </div>
                <p class="ci-box-desc">
                  <span class="m-block">기업의 아이덴티티는 임직원들로 하여금 기업의 가치를 공유하게 하고 기업의 정체성을 </span><span class="m-block">내재화시키는 경영전량 가운데 하나이다. 지속성, 일관성, 통일성이 매우 중요하다.</span>
                </p>
              </div>
              <ul class="ci-section-list">
                <li>
                  <section class="ci-section" data-animation="fade-up">
                    <div class="ci-section-head">
                      <h3 class="ci-section-title">국문 상하조합</h3>
                    </div>
                    <div class="ci-section-body">
                      <div class="ci-imgs">
                        <div class="ci-img">
                          <img src="/assets/images/intro/db-logo-01.svg" alt="동북선도시철도(주) 국문 상하 로고" />
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="ci-section" data-animation="fade-up">
                    <div class="ci-section-head">
                      <h3 class="ci-section-title">국문 좌우조합</h3>
                    </div>
                    <div class="ci-section-body">
                      <div class="ci-imgs">
                        <div class="ci-img">
                          <img src="/assets/images/intro/db-logo-02.svg" alt="동북선도시철도(주) 국문 좌우 로고" />
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="ci-section" data-animation="fade-up">
                    <div class="ci-section-head">
                      <h3 class="ci-section-title">영문 상하조합</h3>
                    </div>
                    <div class="ci-section-body">
                      <div class="ci-imgs">
                        <div class="ci-img">
                          <img src="/assets/images/intro/db-logo-03.svg" alt="동북선도시철도(주) 영문 상하 로고" />
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="ci-section" data-animation="fade-up">
                    <div class="ci-section-head">
                      <h3 class="ci-section-title">영문 좌우조합</h3>
                    </div>
                    <div class="ci-section-body">
                      <div class="ci-imgs">
                        <div class="ci-img">
                          <img src="/assets/images/intro/db-logo-04.svg" alt="동북선도시철도(주) 영문 좌우 로고" />
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
              </ul>

              <section class="ci-section type01" data-animation="fade-up">
                <div class="ci-section-head">
                  <h3 class="ci-section-title">최소규격</h3>
                </div>
                <div class="ci-section-body">
                  <div class="ci-imgs">
                    <div class="ci-img">
                      <img src="/assets/images/intro/db-logo-05-1.svg" alt="동북선도시철도(주) 10mm 너비에 맞는 상하 국문 로고" />
                    </div>
                    <div class="ci-img">
                      <img src="/assets/images/intro/db-logo-05-2.svg" alt="동북선도시철도(주) 10mm 너비보다 긴 상하 국문 로고" />
                    </div>
                    <div class="ci-img">
                      <img src="/assets/images/intro/db-logo-05-3.svg" alt="동북선도시철도(주) 10mm 너비보다 긴 상하 영문 로고" />
                    </div>
                    <div class="ci-img">
                      <img src="/assets/images/intro/db-logo-05-4.svg" alt="동북선도시철도(주) 좌우 국문 로고" />
                    </div>
                    <div class="ci-img">
                      <img src="/assets/images/intro/db-logo-05-5.svg" alt="동북선도시철도(주) 좌우 영문 로고" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>