<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>동북선도시철도(주)</title>
</head>

<body>
  <div id="wrap">
    <!-- header -->
    <%- include('./components/_header') %>
    <!--// header -->

    <!-- 전체메뉴 -->
    <%- include('./components/_allmenu.ejs') %>
    <!--// 전체메뉴 -->

    <!-- 모바일 메뉴 -->
    <%- include('./components/_mobilemenu.ejs') %>
    <!--// 모바일 메뉴 -->

    <!-- main -->
    <main id="sub-content" role="main">
      <div class="inner">
        <!-- contents -->
        <section id="page-content" class="page-intro">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Careers</strong><span>채용공고</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li class="is-active">
                    <span>채용공고</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->

          
          <!-- sub-contents -->
          <div class="table-view">
            <div class="title-area">
              <h3>[프로젝트 계약직] 건축분야 사업관리 담당자 채용</h3>
            </div>
            <div class="info-area">
              <dl>
                <dt>작성자</dt>
                <dd>홈페이지 관리자</dd>
              </dl>
              <dl>
                <dt>등록일</dt>
                <dd>2025-06-05</dd>
              </dl>
              <dl>
                <dt>조회수</dt>
                <dd>1336</dd>
              </dl>
            </div>
            <div class="cont-area">
              <!-- 내용 -->
              <div class="text-area">내용</div>
              <!-- 첨부파일 -->
              <div class="file-area">
                <strong>첨부파일</strong>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i>
                      <span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      >
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i
                      ><span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      ></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i
                      ><span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
              <!--// 첨부파일 -->
            </div>
            <form action="#">
              <div class="post-nav">
                <dl class="next">
                  <dt><i class="ico-arrow-up" aria-hidden="true"></i>다음글</dt>
                  <dd>다음글이 없습니다.</dd>
                </dl>
                <dl class="prev">
                  <dt><i class="ico-arrow-down02" aria-hidden="true"></i>이전글</dt>
                  <dd>
                    <a href="#">철도관제 전문가 자문위원 공개모집 공고</a>
                  </dd>
                </dl>
              </div>
            </form>

            <div class="btn-wrap">
              <a href="#" class="btn-line sm"><span>목록</span></a>
            </div>
          </div>
          <!--// sub-contents -->


        </section>
        <!--// contents -->
      </div>
    </main>
    <!--// main -->

    <!-- footer -->
    <%- include('./components/_footer.ejs') %>
    <!--// footer -->
  </div>

  <script type="module" src="../../js/main.js"></script>
</body>
</html>
