<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>About Us</strong><span>CEO 인사말</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도(주)</span></a>
                  </li>
                  <li class="is-active">
                    <span>CEO 인사말</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <div class="ceo-intro-wrap">
              <div class="ceo-box" data-animation="fade-up">
                <div class="ceo-text">
                  <p class="ceo-text-lead">고객의 삶과 꿈과 희망을 담은</p>
                  <p class="ceo-text-headline">
                    <strong>동북선(N LINE)</strong> 홈페이지를 방문해 주신<br />
                    여러분 감사합니다.
                  </p>
                </div>
              </div>
              <div class="ceo-speech-wrap">
                <div class="ceo-speech" data-animation="fade-up">
                  <p>
                    “서울 동북부의 교통지도를 바꿀 동북선도시철도(NLINE)은 서울 왕십리역에서 상계역까지 이어지는 총 13.4km 길이의 도시철도 노선입니다.”<br>16개의 정거장을 통해 강남, 도심으로의 접근성을 획기적으로 개선하며, 지역 경제 활성화를 이끄는 핵심 인프라로서 안전하고 빠른 속도로 여러분의 여유로운 아침, 가족들과 함께 하는 저녁을 약속합니다.
                  </p>
                  <p>
                    저희 동북선도시철도(NLINE)의 모든 임직원은 <strong>안전과 품질을 최우선으로</strong> 동북선도시철도(NLINE) 건설 및 운영을 위하여 최선을 다하겠습니다.<br>사업기간 중 주민 여러분의 생활이 다소 불편하더라도 넓은 아량으로 양해하여 주시기 바라며 여러분 가정의 행복과 번영을 기원합니다. 
                  </p>
                  <p>감사합니다.</p>
                </div>
                <div class="ceo-name" data-animation="fade-up">
                  동북선도시철도주식회사 대표이사
                  <span>최욱</span>
                </div>
              </div>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
