<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>About Us</strong><span>경영이념</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도(주)</span></a>
                  </li>
                  <li class="is-active">
                    <span>경영이념</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <div class="service-wrap">
              <p class="service-tit" data-animation="fade-up">동북선도시철도(NLINE)이 만들어가는 새로운 방향성</p>
              <div class="service-img" data-animation="fade-up">
                <img src="/assets/images/intro/service-img.png" alt="안전(Safety), 신뢰(trust), 편의(Convenience)">
              </div>
              <div class="service-box" data-animation="fade-up">
                <span>Fusion For</span>
                <strong>InnovationㆍEfficiencyㆍCoexistence</strong>
                <p>동북선도시철도는 서울 동북권 지역의 ‘이동 시간 혁신' 과 ‘교통 소외 지역의 접근성 개선'으로  “혁신과 효율과 상생"의 핵심 가치를 이루어 나가겠습니다.</p>
              </div>
            </div>
            <!-- 서비스 준비중 
            <div class="comming-soon">
              <img src="/assets/images/intro/service-coming-soon.svg" alt="">
              <p class="comm01"><strong>서비스 준비중</strong>입니다.</p>
              <p class="comm02">보다 나은 서비스 제공을 위하여 페이지 준비중에 있습니다.</p>
            </div>-->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
