<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>회사소개</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li class="is-active">
                <a href="#"><span>에스지레일(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>동북선도시철도운영(주)</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">회사소개</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>에스지레일㈜</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap print-block"><!-- 2025-12-23 : print-block 추가 -->
              <div class="tabs" role="tablist" aria-label="회사소개탭">
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="true"
                  tabindex="0"
                >
                  CEO인사말
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CI소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  경영이념
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  안전경영방침
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  연혁
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-6"
                  aria-controls="panel-6"
                  aria-selected="false"
                  tabindex="-1"
                >
                  조직도
                </button>
              </div>

              <div class="tab-panels">
                <div class="tab-panel" id="panel-1" role="tabpanel" aria-labelledby="tab-1">
                  <div class="ceo-intro-wrap sg">
                    <div class="ceo-box" data-animation="fade-up">
                      <div class="ceo-text">
                        <p class="ceo-text-lead">고객의 안전과 행복을 이어가는</p>
                        <p class="ceo-text-headline">
                          <strong>동북선도시철도</strong> 홈페이지를 방문해 주신<br />
                          여러분 감사합니다.
                        </p>
                      </div>
                    </div>
                    <div class="ceo-speech" data-animation="fade-up">
                      <p>
                        “수도권광역급행철도에이선(동북선도시철도)은 수도권 외곽에서 서울 도심까지 20분대에
                        도달할 수 있는 혁신적인 교통수단입니다.”<br />안전하고 빠른 속도로 여러분의
                        여유로운 아침, 가족들과 함께 하는 저녁을 약속합니다.
                      </p>
                      <p>
                        저희 에스지레일의 모든 임직원은
                        <strong>안전과 품질을 최우선으로</strong> 수도권광역급행철도에이선(동북선도시철도)
                        건설 및 운영을 위하여 최선을 다하겠습니다.<br />
                        사업기간 중 주민 여러분의 생활이 다소 불편하더라도 넓은 아량으로 양해하여
                        주시기 바라며<br />여러분 가정의 행복과 번영을 기원합니다.
                      </p>
                      <p>감사합니다.</p>
                    </div>
                    <div class="ceo-name" data-animation="fade-up">
                      수도권광역급행철도에이선(동북선도시철도) 에스지레일주식회사 대표이사
                      <span>정경훈</span>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-6"
                  role="tabpanel"
                  aria-labelledby="tab-6"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
