<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>회사소개</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>에스지레일(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
              <li class="is-active">
                <a href="#"><span>동북선도시철도운영(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>인재상</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">회사소개</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도운영(주)</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" data-tab-level="main" aria-label="회사소개"><!-- 웹접근성 2026-01-27 : aria-label 값 수정 -->
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CEO인사말
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CI소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  캐릭터소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  경영이념
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  연혁
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-6"
                  aria-controls="panel-6"
                  aria-selected="false"
                  tabindex="-1"
                >
                  조직도
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-7"
                  aria-controls="panel-7"
                  aria-selected="false"
                  tabindex="-1"
                >
                  윤리경영
                </button>
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-8"
                  aria-controls="panel-8"
                  aria-selected="true"
                  tabindex="0"
                >
                  안전경영방침
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-6"
                  role="tabpanel"
                  aria-labelledby="tab-6"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-7"
                  role="tabpanel"
                  aria-labelledby="tab-7"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-8"
                  role="tabpanel"
                  aria-labelledby="tab-8"
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <div class="management-wrap gtx">
                    <div class="management-box">
                      <div class="management-inner">
                        <p class="title" data-animation="fade-up">안전보건·환경·품질경영방침</p>
                        <div class="desc" data-animation="fade-up">
                          동북선도시철도운영(주)는 주민과 종사자의 생명 보호를 최우선으로 삼고,
                          안전하고 친환경적인 철도 운영을 통해 최고의 서비스 품질과 지속가능한
                          경영을 실현하고자 다음과 같이 방침을 선언한다.
                        </div>
                        <ol>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              주민과 종사자의 생명 보호 및 안전 확보를 회사의 최우선 순위로
                              추진한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              확고한 안전보건관리체계를 구축하고 유해·위험요인을 지속적으로 발굴·
                              개선하여 안전한 사업장을 구현한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              안전의식 제고와 안전 문화 확산을 위한 교육훈련을 지속 실시하여 안전
                              기본 원칙을 실천할 수 있는 환경을 조성한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              환경오염을 최소화하고 친환경 기술을 도입하여 지속가능한 철도 운영을
                              실현한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              철도서비스의 안전성과 고객 만족을 높이기 위해 품질경영체계를 기반으로
                              지속적인 개선활동을 추진한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              관련 법규를 준수하고 안전보건·환경·품질 경영에 필요한 인력·예산 등의
                              자원을 적절히 배분한다.
                            </p>
                          </li>
                          <li>
                            <span class="label" data-animation="fade-up">하나</span>
                            <p class="text" data-animation="fade-up">
                              전 구성원이 경영방침을 공유하고 원활한 소통과 협력을 바탕으로 목표
                              달성을 위해 노력한다.
                            </p>
                          </li>
                        </ol>
                        <p class="date" data-animation="fade-up">2026년 6월</p>
                        <div class="box">
                          <div data-animation="fade-up">
                            <img src="/assets/images/intro/gtx-a-logo-04.svg" alt="GTXA 동북선도시철도운영(주) 로고" /><!-- 웹접근성 2026-01-06 : alt값 수정 -->
                          </div>
                          <div data-animation="fade-up">
                            <img src="/assets/images/intro/gtx-sign.jpg" alt="사장 서길호 대표이사 사인" /><!-- 2026-12-17 : alt값 수정 -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
