<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>About Us</strong><span>조직도</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도(주)</span></a>
                  </li>
                  <li class="is-active">
                    <span>조직도</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <div class="tree" data-animation="fade-up">
              <img src="/assets/images/intro/tree02.png" alt="조직도" aria-describedby="desc-sg-tree"/>
            </div>
            <div  id="desc-sg-tree" class="txt-hide">
              <ul>
                <li>
                  <span>사장</span>
                  <ul>
                    <li>감사위원회</li>
                    <li>상임감사위원</li>
                    <li>감사처</li>
                  </ul>
                  <ul>
                    <!-- 경영안전본부 -->
                    <li>
                      <span>경영안전본부</span>
                      <ul>
                        <li>
                          <span>기획경영처</span>
                          <ul>
                            <li>기획조정팀</li>
                            <li>경영관리팀</li>
                          </ul>
                        </li>
                        <li>
                          <span>안전관리처</span>
                          <ul>
                            <li>안전관리팀</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <!-- 운영본부 -->
                    <li>
                      <span>운영본부</span>
                      <ul>
                        <li>
                          <span>영업처</span>
                          <ul>
                            <li>영업계획팀</li>
                            <li>역무사업소</li>
                          </ul>
                        </li>
                        <li>
                          <span>승무처</span>
                          <ul>
                            <li>승무계획팀</li>
                            <li>승무사업소</li>
                          </ul>
                        </li>
                        <li>
                          <span>기술처</span>
                          <ul>
                            <li>기술관리팀</li>
                            <li>기술사업소</li>
                            <li>차량사업소</li>
                          </ul>
                        </li>
                        <li>
                          <span>시설처</span>
                          <ul>
                            <li>시설관리팀</li>
                            <li>시설사업소</li>
                          </ul>
                        </li>
                        <li>
                          <span>종합상황처</span>
                          <ul>
                            <li>관제운영팀</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
