<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>회사소개</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>에스지레일(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
              <li class="is-active">
                <a href="#"><span>동북선도시철도운영(주)</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>인재상</span></a>
                  </li>
                  <li>
                    <a href="#"><span>채용공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>찾아오시는 길</span></a>
                  </li>
                </ul>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">회사소개</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도운영(주)</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>회사소개</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap print-block"><!-- 2025-12-23 : print-block 추가  -->
              <div class="tabs" role="tablist" aria-label="회사소개"><!-- 웹접근성 2026-01-27 : aria-label 값 수정 -->
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="true"
                  tabindex="0"
                >
                  CEO인사말
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  CI소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  캐릭터소개
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  경영이념
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  연혁
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-6"
                  aria-controls="panel-6"
                  aria-selected="false"
                  tabindex="-1"
                >
                  조직도
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-7"
                  aria-controls="panel-7"
                  aria-selected="false"
                  tabindex="-1"
                >
                  윤리경영
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-8"
                  aria-controls="panel-8"
                  aria-selected="false"
                  tabindex="-1"
                >
                  안전경영방침
                </button>
              </div>

              <div class="tab-panels">
                <div class="tab-panel" id="panel-1" role="tabpanel" aria-labelledby="tab-1">
                  <div class="ceo-intro-wrap">
                    <div class="ceo-box">
                      <div class="ceo-text">
                        <p>우리나라 최초 수도권 광역급행철도 운영사</p>
                        <strong><span class="m-block">우리나라 최초 수도권 광역급행철도 운영사</span><span class="m-block">동북선도시철도운영(주) 홈페이지 방문을 환영합니다.</span></strong>
                      </div>
                    </div>
                    <div class="ceo-speech">
                      <p>
                        <span class="m-block">안녕하세요. 동북선도시철도운영(주) CEO 서길호 입니다.</span><br>
                        <span class="m-block">저희 회사가 운영하는 수도권광역급행철도에이선(동북선도시철도)은 타 교통수단 대비 월등히 높은 속도를 낼 수 있어, 
                        수도권 내 이동시간을 획기적으로 줄일 수 있는 혁신적인 모빌리티입니다.</span>
                      </p>
                      <p>
                        <span class="m-block">전국 최초로 운행하는 수도권 광역급행철도 수도권광역급행철도에이선(동북선도시철도)의 운행으로</span>
                        <span class="m-block"><strong>출퇴근 시간 감소, 교통체증 해소, 대중교통 이용률 증가</strong> 등 다양한 효과가 있을 것으로 기대됩니다.</span>
                      </p>
                      <p>
                        <span class="m-block">수도권광역급행철도에이선(동북선도시철도) 이용자분들이 목적지까지 빠르고 정확하게 도착할 수 있도록</span> 
                        <span class="m-block">저희 회사 임직원 모두는 각자의 위치에서 최선을 다하고 있습니다.</span>
                        <span class="m-block">앞으로도 더 많은 분들이 저희 노선을 편리하게 이용할 수 있도록 노력하겠습니다.</span>
                      </p>
                      <p>
                        <span class="m-block">국민과 함께 행복을 열어가는 동북선도시철도운영(주)가 될 것을 약속드립니다.</span>
                        <span class="m-block">여러분의 많은 관심과 격려를 부탁드립니다. 감사합니다.</span>
                      </p>
                    </div>
                    <div class="ceo-name">
                      동북선도시철도운영(주) CEO
                      <span>서길호</span>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-6"
                  role="tabpanel"
                  aria-labelledby="tab-6"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-7"
                  role="tabpanel"
                  aria-labelledby="tab-7"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-8"
                  role="tabpanel"
                  aria-labelledby="tab-8"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->
      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
