<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>About Us</strong><span>연혁</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>회사소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>동북선도시철도(주)</span></a>
                  </li>
                  <li class="is-active">
                    <span>연혁</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/intro/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-intro">
            <div class="history-wrap">
              <div class="history-inner">
                <div class="history-head">
                  <p class="history-tit">
                    시민과 함께 소통하며 <br />
                    발맞추어 나아갑니다.
                  </p>

                  <div class="history-nav">
                    <button type="button" class="history-swiper-prev"><span class="txt-hide">이전</span></button>
                    <button type="button" class="history-swiper-next"><span class="txt-hide">다음</span></button>
                  </div>
                </div>
              </div>

              <!-- swiper -->
              <div class="history-swiper swiper">
                <div class="history-list swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2026</span>
                    </div>

                    <div class="right">
                      <span class="date">2026.05</span>
                      <span class="text">
                        동북선 공사 진행중 _ 75%
                      </span>
                    </div>

                    <div class="thumb">
                      <img
                        src="/assets/images/intro/history-2026.jpg"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2024</span>
                    </div>

                    <div class="right">
                      <span class="date">2024.08.06</span>
                      <span class="text">
                        현대자동차 그룹 계열 제외
                      </span>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2021</span>
                    </div>

                    <div class="right">
                      <span class="date">2021.07</span>
                      <span class="text">
                        서울 경전철 동북선 공사 착공
                      </span>
                    </div>

                    <div class="thumb">
                      <img
                        src="/assets/images/intro/history-2021.jpg"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2020</span>
                    </div>

                    <div class="right">
                      <span class="date">2020.02</span>
                      <span class="text">
                        사업 착수계 제출 및 실질적 사업착수
                      </span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2020</span>
                    </div>

                    <div class="right">
                      <span class="date">2020.02</span>
                      <span class="text">
                        사업 착수계 제출 및 실질적 사업착수
                      </span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2020</span>
                    </div>
                    <div class="right">
                      <span class="date">2020.02</span>
                      <span class="text">
                        사업 착수계 제출 및 실질적 사업착수
                      </span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <span class="year">2020</span>
                    </div>

                    <div class="right">
                      <span class="date">2020.02</span>
                      <span class="text">
                        사업 착수계 제출 및 실질적 사업착수
                      </span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
