<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Customer Engagement</strong><span>작성목록</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>고객참여</span></a>
                  </li>
                  <li>
                    <a href="#"><span>문화마당</span></a>
                  </li>
                  <li class="is-active">
                    <span>작성목록</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/customer/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-customer">
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="이용안내">
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  이용안내
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="true"
                  tabindex="0"
                >
                  문화마당
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                >
                  <div class="line-box type02">
                    <h3 class="heading-sm">문화마당 위치</h3>
                    <p>도시 생활에서 만나는 문화의 즐거움, 동북선 지하역사에서 이동만이 아닌 문화공간을 만들고 즐길 수 있습니다.</p>
                  </div>
                  <div class="media-box">
                    <ul>
                      <li>
                        <figure>
                          <img
                            src="/assets/images/customer/culture-img01.png"
                            alt="공연장 이미지"
                          />
                        </figure>
                        <p class="title">공연장위치1</p>
                      </li>
                      <li>
                        <figure>
                          <img
                            src="/assets/images/customer/culture-img02.png"
                            alt="공연장 이미지"
                          />
                        </figure>
                        <p class="title">공연장위치2</p>
                      </li>
                      <li>
                        <figure>
                          <img src="/assets/images/customer/culture-img03.png" alt="공연장 이미지" />
                        </figure>
                        <p class="title">공연장위치3</p>
                      </li>
                      <li>
                        <figure>
                          <img src="/assets/images/customer/culture-img04.png" alt="공연장 이미지" />
                        </figure>
                        <p class="title">공연장위치4</p>
                      </li>
                    </ul>
                  </div>

                  <div class="text-list-box">
                    <h3 class="text-list-title">운영시간</h3>
                    <ul class="text-list">
                      <li>매일 10시~20시</li>
                    </ul>
                  </div>

                  <div class="text-list-box">
                    <h3 class="text-list-title">공연신청</h3>
                    <ul class="text-list">
                      <li>하루 1회, 최대 2시간까지 가능</li>
                    </ul>
                  </div>
                  <div class="table-scroll mt-20">
                    <div class="table-wrap">
                      <table>
                        <caption>
                          공연신청 - 구분,	공연허용인원, 면적, 개인엠프, 비고에 대한 정보를 제공
                        </caption>
                        <colgroup>
                          <col style="width: 15%" />
                          <col style="width: 15%" />
                          <col style="width: 15%" />
                          <col style="width: 15%" />
                          <col />
                        </colgroup>
                        <thead>
                          <tr>
                            <th scope="col">구분</th>
                            <th scope="col">공연허용인원</th>
                            <th scope="col">면적</th>
                            <th scope="col">개인엠프</th>
                            <th scope="col">비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>왕십리역</td>
                            <td>4인 이하</td>
                            <td>72㎡</td>
                            <td>불가</td>
                            <td>어쿠스틱 연주만 가능</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <h3 class="heading-sm mt-40">행사신청 : 하루 1회, 최대 4시간 가능</h3>
                  <div class="table-wrap">
                    <table>
                      <caption>
                        행사신청 - 구분,	사용용도,	면적에 대한 정보를 제공
                      </caption>
                      <colgroup>
                        <col style="width: 20%">
                        <col style="width: 60%">
                        <col style="width: 20%">
                      </colgroup>
                      <thead>
                        <tr>
                          <th scope="col">구분</th>
                          <th scope="col">사용용도</th>
                          <th scope="col">면적</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>왕십리역</td>
                          <td rowspan="2">사진, 전시회, 홍보, 캠페인 등</td>
                          <td>72㎡</td>
                        </tr>
                        <tr>
                          <td>고려대역</td>
                          <td>131.76㎡</td>
                        </tr>
                        <tr>
                          <td>고려대역</td>
                          <td colspan="2">준비중</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="text-list-box mt-40">
                    <h3 class="text-list-title">공연 및 행사 불승인 사항</h3>
                    <ul class="text-list">
                      <li>정당이나 종교 등 특정 사상을 전파하는 공연 및 행사</li>
                      <li>상업행위가 주목적인 공연 및 행사</li>
                      <li>시민의 불쾌감이나 모욕감을 주는 공연 및 행사</li>
                      <li>역사 공간에 적합하지 않은 공연 및 행사</li>
                      <li>
                        문화마당 신청에 안내된 역사별 허용 기준(개인앰프, 사용용도)를 지키지 않거나 음주,
                        욕설 등 공공장소 이용자의 정상적 이용을 방해하는 행위를 하는 경우 공연 및 행사
                        신청을 제한합니다.
                        <p>(1회차 : 1개월 제한, 2회차 : 3개월 제한, 3회차 : 영구 제한 / 누적 기준)</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                >
                  <div class="line-box">
                    <!-- <div class="line-box-img-wrap">
                      <img src="/assets/images/customer/private-img.png" alt="" />
                    </div> 2026-02-12 : 삭제 -->
                    <div class="line-box-body flex-center">
                      <ul class="line-box-list">
                        <li>본 게시판은 비공개용 게시판입니다.</li><!-- 2026-05-20 : text-primary 삭제 -->
                        <li>
                          해당 게시판에 작성하는 민원 및 상담내용은 처리 부서와 담당자 이외에는 열람을 할
                          수 없으며, 민원 및 상담에 대한 처리 결과는 본 게시판으로 회신하여 드립니다.
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="btn-wrap">
                    <a href="#" class="btn-primary lg"><span>신청하기</span></a>
                  </div>

                  <!-- search -->
                  <div class="search-bar">
                    <p class="search-text">총 <span>23</span>건</p>
                  </div>
                  <!--// search -->

                  <div class="table-scroll">
                    <div class="table-wrap">
                      <table class="table-list">
                        <caption>
                          문화마당 신청 목록. 번호, 구분, 신청자명, 공연·행사명, 공연·행사일자, 시작·종료
                          시간, 등록일, 승인여부 정보를 포함합니다.
                        </caption>
                        <colgroup><!-- 웹접근성 2026-01-06 : 하위 col width를 style로 변경 -->
                          <col style="width:5%">
                          <col style="width:10%">
                          <col style="width:10%">
                          <col style="width:10%">
                          <col style="width:10%">
                          <col style="width:10%">
                          <col style="width:10%">
                          <col style="width:20%">
                          <col style="width:10%">
                        </colgroup>
                        <thead>
                          <tr>
                            <th scope="col">번호</th>
                            <th scope="col">구분</th>
                            <th scope="col">신청자명</th>
                            <th scope="col">공연 및 행사자명</th>
                            <th scope="col">공연 및 행사일자</th>
                            <th scope="col">시작시간</th>
                            <th scope="col">종료시간</th>
                            <th scope="col">등록일</th>
                            <th scope="col">승인여부</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- empty case -->
                          <!-- <tr class="empty">
                            <td colspan="9">
                              <i class="ico-empty" aria-hidden="true"></i>
                              <span>조회내용이 없습니다.</span>
                            </td>
                          </tr> -->
                          <tr>
                            <td>1</td>
                            <td>구분</td>
                            <td>홍길동</td>
                            <td class="ellipsis">
                              <a class="link" href="#"> 공연 </a>
                            </td>
                            <td>2026-08-19</td>
                            <td>12:00</td>
                            <td>16:00</td>
                            <td>2026-08-19</td>
                            <td>Y</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="pagination-box">
                    <ul>
                      <li class="page-item prev">
                        <a href="#">
                          <span>이전</span>
                        </a>
                      </li>
                      <li class="page-item on">
                        <a href="#" aria-label="현재 페이지">1</a><!-- 웹접근성 2026-01-27 : aria 추가 -->
                      </li>
                      <li class="page-item">
                        <a href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a href="#">3</a>
                      </li>
                      <li class="page-item next">
                        <a href="#">
                          <span>다음</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
