<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Customer Engagement</strong><span>이벤트/공모 참여</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>고객참여</span></a>
                  </li>
                  <li>
                    <a href="#"><span>고객의 소리</span></a>
                  </li>
                  <li class="is-active">
                    <span>이벤트/공모 참여</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/customer/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-customer">
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="이벤트/공모 참여">
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  진행중인 이벤트/공모
                </button>
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  마감된 이벤트/공모
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  aria-hidden="true"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div class="tab-panel" id="panel-2" role="tabpanel" aria-labelledby="tab-2">
                  <h3 class="heading-sm">이벤트/공모</h3>
                  <div class="table-view table-wrap">
                    <table>
                      <caption>
                        이벤트/공모 - 이벤트 제목, 신청기간, 세부내용에 대한 정보를 제공
                      </caption>
                      <colgroup>
                        <col style="width: 25%" />
                        <col />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th scope="row" class="align-left">이벤트 제목</th>
                          <td class="align-left">동북선도시철도 열차 창문 투명 OLED 콘텐츠 공모전</td>
                        </tr>
                        <tr>
                          <th scope="row" class="align-left">신청기간</th>
                          <td class="align-left">2024-12-16~2026-01-10</td>
                        </tr>
                        <tr>
                          <th scope="row" class="align-left">세부내용</th>
                          <td>
                            <img
                              src="https://www.gtx-a.com/common/dowloadImage.do?fileMastrId=9acb4322df38428c87c96f877a63d941&fileDetailId=1"
                              alt=""
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="btn-wrap justify-between">
                      <a href="#" class="btn-line sm"><span>목록</span></a>
                      <a href="#" class="btn-primary sm disabled"><span>응모하기</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
