<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>동북선도시철도(주)</title>
</head>

<body>
  <div id="wrap">
    <!-- header -->
    <%- include('./components/_header') %>
    <!--// header -->

    <!-- 전체메뉴 -->
    <%- include('./components/_allmenu.ejs') %>
    <!--// 전체메뉴 -->

    <!-- 모바일 메뉴 -->
    <%- include('./components/_mobilemenu.ejs') %>
    <!--// 모바일 메뉴 -->

    <!-- main -->
    <main id="sub-content" role="main">
      <div class="inner">
        <!-- contents -->
        <section id="page-content" class="page-customer">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>FAQ</strong><span>고객참여</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>고객참여</span></a>
                  </li>
                  <li class="is-active">
                    <span>FAQ</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/images/customer/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->

          <!-- sub-contents -->
          <!-- search -->
          <div class="search-bar">
            <p class="search-text">총 <span>23</span>건 <span>1</span>/3 페이지</p>
            <div class="search-box">
              <div class="input-box">
                <label for="search" class="txt-hide">검색어 입력란</label>
                <input type="text" aria-label="검색어 입력" id="search" placeholder="검색어를 입력하세요." />
              </div>
              <div class="btn-wrap">
                <button class="btn-primary sm">
                  <i class="ico-search" aria-hidden="true"></i>
                  <span>검색</span>
                </button>
              </div>
            </div>
          </div>
          <!--// search -->
          <div class="table-scroll">
            <div class="table-wrap">
              <table class="table-list type02">
                <caption>
                  자주묻는 질문 - 번호,	제목,	조회수에 대한 정보를 제공
                </caption>
                <colgroup>
                  <col style="width: 7%" />
                  <col style="width: auto" />
                  <col style="width: 10%" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">
                      <button type="button" class="sort-btn">
                        조회수
                        <i class="ico-sort" aria-hidden="true"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4</td>
                    <td class="align-left">
                      <a class="link ellipsis" href="#">
                        <span class="faq-label">Q</span>
                        역사나 열차 내에서 비상 상황이 발생했을 때 어떻게 해야 하나요?</a
                      >
                    </td>
                    <td>1335</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="align-left">
                      <a class="link ellipsis" href="#">
                        <span class="faq-label">Q</span>
                        역사나 열차 내에서 비상 상황이 발생했을 때 어떻게 해야 하나요?</a
                      >
                    </td>
                    <td>1335</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="align-left">
                      <a class="link ellipsis" href="#">
                        <span class="faq-label">Q</span>
                        역사나 열차 내에서 비상 상황이 발생했을 때 어떻게 해야 하나요?</a
                      >
                    </td>
                    <td>1335</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="align-left">
                      <a class="link ellipsis" href="#">
                        <span class="faq-label">Q</span>
                        역사나 열차 내에서 비상 상황이 발생했을 때 어떻게 해야 하나요?</a
                      >
                    </td>
                    <td>1335</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- pagination -->
          <div class="pagination-box">
            <ul>
              <li class="page-item prev">
                <a href="#">
                  <span>이전</span>
                </a>
              </li>
              <li class="page-item on">
                <a href="#" aria-label="현재 페이지">1</a>
              </li>
              <li class="page-item">
                <a href="#">2</a>
              </li>
              <li class="page-item">
                <a href="#">3</a>
              </li>
              <li class="page-item">
                <span class="pg-ellipsis">
                  <span class="txt-hide">중간 페이지 생략</span>
                </span>
              </li>
              <li class="page-item">
                <a href="#">99</a>
              </li>
              <li class="page-item next">
                <a href="#">
                  <span>다음</span>
                </a>
              </li>
            </ul>
          </div>
          <!--// pagination -->
          <!--// sub-contents -->


        </section>
        <!--// contents -->
      </div>
    </main>
    <!--// main -->

    <!-- footer -->
    <%- include('./components/_footer.ejs') %>
    <!--// footer -->
  </div>

  <script type="module" src="../../js/main.js"></script>
</body>
</html>
