<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Customer Engagement</strong><span>사이버 감사실</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>고객참여</span></a>
                  </li>
                  <li class="is-active">
                    <span>사이버 감사실</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/customer/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-customer">
            <div class="line-box">
              <div class="line-box-body">
                <p class="line-box-title">소통의 장</p>
                <ul class="line-box-list">
                  <li>동북선 운영 구간에서 발생한 열차지연 정보는 5분 이상 열차 지연 시 게시하고 있습니다.</li>
                  <li>게시된 지연시간은 해당 시간대에 발생한 최대 지연 시간이며 5분단위로 게시하고 있습니다.</li>
                  <li>30분 이상 지연된 경우에는 고객 콜센터 <span class="text-primary">1551-2979</span>로 문의하여 주시기 바랍니다.</li>
                </ul>
              </div>
            </div>

            <div class="btn-wrap">
              <a href="#" class="btn-primary lg"><span>작성하기</span></a>
            </div>

            <div class="text-list-box">
              <h3 class="text-list-title">이용안내</h3>
              <ul class="text-list">
                <li>
                  동북선도시철도 임·직원의 비리행위, 직위를 이용한 부당한 요구, 불공정한 업무처리 등에 대한
                  제보를 받습니다.
                </li>
                <li>제보자의 비밀은 철저히 보호됩니다.</li>
                <li>
                  제보내용이 부정확하거나 허위인 경우에는 처리되지 않을 수 있으므로 6하 원칙에
                  의거하여 정확하게 작성하여 주시기 바랍니다.
                </li>
                <li>
                  제보는 익명이며, 제보내용이 내부공익으로 합당하지 않고 사실 로서의 개연성이 낮다고
                  인정되는 경우에 한하여 예외적으로 접수·처리되지 않을 수 있습니다.
                </li>
                <li>
                  동북선도시철도 이용과 관련한 불편 또는 개선사항 등은 "고객서비스 - 고객의 소리" 메뉴를
                  이용하여 주시기 바랍니다.
                </li>
              </ul>
            </div>

            <div class="text-list-box">
              <h3 class="text-list-title">제보하기</h3>
              <ul class="text-list">
                <li>
                  직장내 성희롱 및 괴롭힘의 예방 (건전한 조직문화 저해행위· 공정한 직무수행
                  저해행위)
                </li>
                <li>
                  투명하고 깨끗한 동북선도시철도 (공정한 직무수행 저해행위·부당이득 수수행위·정보, 보안관련
                  위반행위·기타 비윤리적 행위(청렴의무위반, 윤리행동지침 위반행위 등))
                </li>
              </ul>
            </div>
            <div class="box-primary04">
              <ul class="list01">
                <li>제보 이메일 : WT@Wirytram.com</li>
              </ul>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
