<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>고객참여</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>고객의 소리</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>작성하기</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>문화마당</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>신청하기</span></a>
                  </li>
                </ul>
              </li>
              <li class="is-active">
                <a href="#"><span>촬영신청</span></a>
                <ul class="lnb-depth2-list">
                  <li class="on">
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>신청하기</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>광고문의</span></a>
              </li>
              <li>
                <a href="#"><span>이벤트/공모</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>이벤트/공모 참여</span></a>
                  </li>
                  <li>
                    <a href="#"><span>당첨자 확인</span></a>
                  </li>
                  <li>
                    <a href="#"><span>참여후기</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>자주묻는 질문</span></a>
              </li>
              <li>
                <a href="#"><span>부패방지신고센터</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-customer">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">이용안내</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>고객참여</span></a>
                  </li>
                  <li>
                    <a href="#"><span>촬영승인 신청</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>이용안내</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->

            <div class="shot-auth-wrap">
              <p class="title">촬영승인 기준안내</p>
              <div class="img">
                <img src="/assets/images/customer/shot-img.png" alt="" />
              </div>
              <div class="btn-wrap">
                <button class="btn-primary lg"><span>다운로드</span></button>
              </div>
            </div>

            <div class="table-scroll">
              <div class="table-wrap horizontal">
                <h3 class="heading-sm mt-40">신청방법</h3>
                <table>
                  <caption><!-- 웹접근성 2026-01-06 : 추가 -->
                    신청방법의 촬영신청, 내용심사에 대한 정보
                  </caption>
                  <colgroup>
                    <col style="width: 30%" />
                    <col style="width: 70%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="row">촬영신청</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                      <td class="align-left">
                        <ul>
                          <li>
                            촬영신청(광고, 드라마 등)
                            <ul>
                              <li>※ 촬영신청은 평일 기준 5일 이전</li>
                            </ul>
                          </li>
                          <li>
                            [신청시 첨부서류]
                            <ul>
                              <li>
                                ◦ 공통 : 동북선도시철도 시설 내 촬영내용 요약서 및 전체 시놉시스(줄거리,
                                시나리오, 원고 등)
                              </li>
                              <li>◦ 단체 : 촬영승인 공문 및 사업자등록증 사본</li>
                              <li>◦ 개인 : 신분증 사본, 학생의 경우 학생증 사본 첨부</li>
                            </ul>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">내용심사</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                      <td class="align-left">촬영내용 심사(부적절시 촬영불허)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="table-scroll">
              <div class="table-wrap horizontal print-block"><!-- 2026-12-23 : 추가 -->
                <h3 class="heading-sm mt-40">촬영장소</h3>
                <div class="table-scroll"><!-- 2026-12-23 : 추가 -->
                  <div class="table-wrap horizontal"><!-- 2026-12-23 : 추가 -->
                    <table>
                      <caption><!-- 웹접근성 2026-01-06 : 추가 -->
                        촬영장소의 선택, 장소, 시간과 인원에 따른 기본과 추가 수수료, 인건비, 독립&학생 수수료, 차량임대 수수료, 수수료 안내, 촬영승인 및 문의에 대한 정보
                      </caption>
                      <colgroup>
                        <col style="width: 10%" />
                        <col style="width: 10%" />
                        <col style="width: 10%" />
                        <col style="width: 23.33%" />
                        <col style="width: 23.33%" />
                        <col style="width: 23.33%" />
                        <!-- C구역 -->
                      </colgroup>
                      <tbody>
                        <tr>
                          <th colspan="3" scope="row">선택</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td><strong>A구역</strong></td>
                          <td><strong>B구역</strong></td>
                          <td><strong>C구역</strong></td>
                        </tr>
                        <tr>
                          <th colspan="3" scope="row">장소</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td class="align-left">
                            <ul>
                              <li>- 역사(대합실 및 역시설물 포함)</li>
                              <li>- 승강장</li>
                              <li>- 본사 사무실</li>
                            </ul>
                          </td>
                          <td class="align-left">
                            <ul>
                              <li>- 주행중인 전동차 안</li>
                              <li>- 환승 역사</li>
                            </ul>
                          </td>
                          <td class="align-left">
                            <ul>
                              <li>- 차량기지</li>
                              <li>- 주행선로</li>
                              <li>- 주말 및 공휴일</li>
                              <li>- 기타 촬영시 승객에게 불편 시설물 <br />포함시</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th rowspan="7" scope="row">수수료</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <th rowspan="2" scope="row">시간</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <th scope="row">기본</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td class="align-left">20만원/1H</td>
                          <td class="align-left">30만원/1H</td>
                          <td class="align-left">50만원/1H</td>
                        </tr>
                        <tr>
                          <th scope="row">추가</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td class="align-left">10만원/1H</td>
                          <td class="align-left">20만원/1H</td>
                          <td class="align-left">50만원/1H</td>
                        </tr>
                        <tr>
                          <th rowspan="2" scope="row">인원</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <th scope="row">기본</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3">촬영인원 10명까지 기본</td>
                        </tr>
                        <tr>
                          <th scope="row">추가</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td class="align-left">3만원/10명*1H</td>
                          <td class="align-left">5만원/10명*1H</td>
                          <td class="align-left">10만원/10명*1H</td>
                        </tr>
                        <tr>
                          <th colspan="2" scope="row">인건비</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3">30만원 (40명 단위 1일 기준) ※ 촬영장소 입회감독비</td>
                        </tr>
                        <tr>
                          <th colspan="2" scope="row">독립,학생</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3" class="align-left">
                            <ul>
                              <li>상업영화 수수료 기준 50% 감면 (인건비 제외)</li>
                              <li>
                                - 독립영화 : 독립영화협회 발행 증빙 서류 또는 저예산 영화 제작지원협약서
                                등 서류로 증빙이 되는 것에 한함
                              </li>
                              <li>
                                - 학생영화 : 학교장 추천서, 학생증, 재학증명서 등 서류로 증빙이 되는
                                것에 한함
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th colspan="2" scope="row">차량임대</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3">1,000만원/편성</td>
                        </tr>
                        <tr>
                          <th colspan="3" scope="row">수수료 안내</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3" class="align-left">
                            <ul>
                              <li>
                                촬영 3일 전까지 아래 계좌로 입금 완료
                                <ul>
                                  <li>- 주식회사 에스지레일 : 140-012-603600</li>
                                </ul>
                              </li>
                              <li class="mt-20">※ 촬영 수수료 부가세 별도</li>
                              <li>※ 페이드존 출입인원 승차권 현금구입 또는 본인 교통카드 사용 필수</li>
                              <li>
                                ※ 촬영 취소는 촬영일 24시간(평일 기준) 이전까지 취소협조공문, 통장사본
                                등을 제출시에만 가능하며, 취소 시 납부된 촬영수수료는 ㈜에스지레일
                                내부절차에 따라 환불
                              </li>
                              <li>
                                ※ 수수료 납부 후 촬영일 기준 24시간(평일 기준) 이내 촬영취소를 하거나,
                                촬영을 조기 종료한 경우, 촬영 시 당사 규정을 위반하여 퇴거 조치를 당한
                                경우에는 이미 납부된 수수료를 반환하지 않는다.
                              </li>
                              <li>※ 상세사항은 "촬영승인 기준안내(다운로드)" 참조</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th colspan="3" scope="row">촬영승인 및 문의</th><!-- 웹접근성 2026-01-06 : scope 추가 -->
                          <td colspan="3" class="align-left">
                            <ul>
                              <li>
                                신청자에게 승인사항 통보(주의사항 알림)
                                <ul>
                                  <li>※ 촬영일 3일 이전 구두 또는 이메일로 통보</li>
                                  <li>※ 입금 확인 후, 최종 승인 및 세금계산서 발급</li>
                                </ul>
                              </li>

                              <li>
                                문의사항
                                <ul>
                                  <li>Phone : 031-869-3212 / Email : kkangh@동북선도시철도.com</li>
                                </ul>
                              </li>

                              <li class="mt-20">
                                ※ 차량내부와 주요역사에서 출퇴근시간 (7~10시, 17~20시) 촬영 원칙적 불가
                              </li>
                              <li>
                                ※ 영업종료 후(평일: 01:00~05:30, 주말/공휴일: 24:00~05:30) 촬영은 별도
                                협의 후 가능
                              </li>
                              <li>
                                ※ 동북선도시철도 시설 내 촬영에 대한 출연배우 초상권 및 저작권 사용승인 등 촬영
                                장소 명소화 동의 시 무상 제공
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <h3 class="heading-sm mt-40">처리절차</h3>
            <ul class="workflow-wrap">
              <li><span class="num">1</span><span class="txt">온라인 신청</span></li>
              <li><span class="num">2</span><span class="txt">심사진행</span></li>
              <li><span class="num">3</span><span class="txt">신청결과공지</span></li>
              <li><span class="num">4</span><span class="txt">수수료입금</span></li>
              <li><span class="num">5</span><span class="txt">촬영</span></li>
            </ul>
            <div class="btn-wrap mt-40 justify-between">
              <a href="#" class="btn-secondary sm"><span>조회</span></a>
              <a href="#" class="btn-primary sm"><span>신청</span></a>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
