<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>News &amp; Notices</strong><span>입찰공고</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>알림마당</span></a>
                  </li>
                  <li>
                    <a href="#"><span>홍보관</span></a>
                  </li>
                  <li class="is-active">
                    <span>입찰공고</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/notice/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-notice">
            <div class="table-view table-wrap">
              <table>
                <caption>
                  입찰공고 - 입찰종류, 입찰방법, 공고번호, 공고일자, 입찰제출일시, 등록일시, 입찰마감일시, 개찰일시, 입찰건명, 공고문에 대한 정보
                </caption>
                <colgroup>
                  <col style="width: 25%" />
                  <col style="width: 25%" />
                  <col style="width: 25%" />
                  <col style="width: 25%" />
                </colgroup>
                <tbody>
                  <tr>
                    <th scope="row" class="align-left">입찰종류</th>
                    <td class="align-left">직접입찰</td>
                    <th scope="row" class="align-left">입찰방법</th>
                    <td class="align-left">제한경쟁입찰</td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-left">공고번호</th>
                    <td class="align-left">2026-02</td>
                    <th scope="row" class="align-left">공고일자</th>
                    <td class="align-left">2026-07-30</td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-left">입찰제출일시</th>
                    <td class="align-left">2026-08-08 10:00</td>
                    <th scope="row" class="align-left">등록일시</th>
                    <td class="align-left">2026-07-10 09:04</td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-left">입찰마감일시</th>
                    <td class="align-left">2026-08-08 16:00</td>
                    <th scope="row" class="align-left">개찰일시</th>
                    <td class="align-left">2026-08-08 16:00</td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-left">입찰건명</th>
                    <td colspan="3" class="align-left">
                      [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 (재공고)
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="align-left">공고문</th>
                    <td colspan="3" class="align-left">
                      [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 입찰 (재공고)
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="cont-area">
                <img src="/assets/images/notice/dummy-thumbnail.png" alt="입찰공고 이미지"/>
              </div>

              <!-- 첨부파일 -->
              <div class="file-area">
                <strong>첨부파일</strong>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i>
                      <span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      >
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i
                      ><span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      ></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ico-file"></i
                      ><span class="ellipsis"
                        >붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임
                        2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2. 모집 안내문.hwp붙임 2.
                        모집 안내문.hwp</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
              <!--// 첨부파일 -->

              <div class="btn-wrap">
                <a href="#" class="btn-line sm"><span>목록</span></a>
              </div>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
