<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>동북선도시철도(주)</title>
</head>

<body>
  <div id="wrap">
    <!-- header -->
    <%- include('./components/_header') %>
    <!--// header -->

    <!-- 전체메뉴 -->
    <%- include('./components/_allmenu.ejs') %>
    <!--// 전체메뉴 -->

    <!-- 모바일 메뉴 -->
    <%- include('./components/_mobilemenu.ejs') %>
    <!--// 모바일 메뉴 -->

    <!-- main -->
    <main id="sub-content" role="main">
      <div class="inner">
        <!-- contents -->
        <section id="page-content" class="page-safety">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Notice</strong><span>공지사항</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>알림/소식</span></a>
                  </li>
                  <li class="is-active">
                    <span>공지사항</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/images/notice/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->

          
          <!-- sub-contents -->
            <div class="search-bar">
              <p class="search-text">총 <span>23</span>건</p>
              <div class="search-box">
                <div class="input-box">
                  <label for="search" class="txt-hide">검색어 입력란</label>
                  <input type="text" aria-label="검색어 입력" id="search" placeholder="검색어를 입력하세요." />
                </div>
                <div class="btn-wrap">
                  <button class="btn-primary sm">
                    <i class="ico-search" aria-hidden="true"></i>
                    <span>검색</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="table-scroll">
              <div class="table-wrap">
                <table class="table-list type02">
                  <caption>
                    공지사항 - 번호,	제목,	첨부,	등록일,	조회수에 대한 정보를 제공
                  </caption>
                  <colgroup>
                    <col style="width: 10%" />
                    <col style="width: auto" />
                    <col style="width: 7%" />
                    <col style="width: 11%" />
                    <col style="width: 10%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">번호</th>
                      <th scope="col">제목</th>
                      <th scope="col">첨부</th>
                      <th scope="col">등록일</th>
                      <th scope="col">조회수</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fix">
                      <td><span class="fix-txt">고정</span></td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용 GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2025-06-05</td>
                      <td>1335</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#">
                          GTX-A 운정중앙∼서울역 개통 60일 만에 220만명 이용
                        </a>
                      </td>
                      <td><i class="ico-file" aria-hidden="true"></i></td>
                      <td>2024-05-14</td>
                      <td>393</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="pagination-box">
              <ul>
                <li class="page-item prev">
                  <a href="#">
                    <span>이전</span>
                  </a>
                </li>
                <li class="page-item on">
                  <a href="#" aria-label="현재 페이지">1</a>
                </li>
                <li class="page-item">
                  <a href="#">2</a>
                </li>
                <li class="page-item">
                  <a href="#">3</a>
                </li>
                <li class="page-item next">
                  <a href="#">
                    <span>다음</span>
                  </a>
                </li>
              </ul>
            </div>
          <!--// sub-contents -->


        </section>
        <!--// contents -->
      </div>
    </main>
    <!--// main -->

    <!-- footer -->
    <%- include('./components/_footer.ejs') %>
    <!--// footer -->
  </div>

  <script type="module" src="../../js/main.js"></script>
</body>
</html>
