<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>알림마당</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>공지사항</span></a>
              </li>
              <li>
                <a href="#"><span>보도자료</span></a>
              </li>
              <li>
                <a href="#"><span>자료실</span></a>
              </li>
              <li>
                <a href="#"><span>홍보관</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>홍보영상</span></a>
                  </li>
                  <li>
                    <a href="#"><span>포토갤러리</span></a>
                  </li>
                </ul>
              </li>
              <li class="is-active">
                <a href="#"><span>입찰공고</span></a>
              </li>
              <li>
                <a href="#"><span>감사결과</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-notice">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">입찰공고</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>알림마당</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>입찰공고</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- search -->
            <div class="search-bar filter">
              <p class="search-text">총 <span>23</span>건</p>
              <div class="search-box">
                <!-- 셀렉트 입찰건명 -->
                <div class="select-box" data-filter="field">
                  <button
                    type="button"
                    class="select-btn"
                    id="select-trigger-filter-field"
                    aria-expanded="false"
                    title="입찰 구분 선택"
                  ><!-- 웹접근성 2026-01-27 : aria-haspopup 삭제, title 추가 -->
                    <span>입찰건명</span>
                  </button>
                  <ul class="select-list" hidden tabindex="-1"><!-- 웹접근성 2026-01-27 : role 삭제 --><!-- 웹접근성 2026-01-06 : role 추가 -->
                    <li><!-- 웹접근성 2026-01-27 : role, aria-selected 삭제 -->
                      <button type="button"><span>입찰건명</span></button>
                    </li>
                    <li><!-- 웹접근성 2026-01-27 : role, aria-selected 삭제 -->
                      <button type="button"><span>입찰종류</span></button>
                    </li>
                  </ul>
                </div>
                <!--// 셀렉트 입찰건명 -->
                <div class="input-box">
                  <label for="search" class="txt-hide">검색어 입력란</label><!-- 웹접근성 2026-01-06 : label 추가 -->
                  <input type="text" aria-label="검색어 입력" id="search" placeholder="검색어를 입력하세요." /><!-- 웹접근성 2026-01-06 : id 추가 -->
                </div>
                <!-- 셀렉트 직접입찰 -->
                <div class="select-box bid">
                  <button
                    type="button"
                    class="select-btn"
                    id="select-trigger-filter-bid"
                    aria-expanded="false"
                    title="입찰 종류 선택"
                  ><!-- 웹접근성 2026-01-27 : aria-haspopup 삭제, title 추가 -->
                    <span>직접입찰</span>
                  </button>
                  <ul class="select-list" hidden tabindex="-1"><!-- 웹접근성 2026-01-27 : role 삭제 --><!-- 웹접근성 2026-01-06 : role 추가 -->
                    <li><!-- 웹접근성 2026-01-27 : role, aria-selected 삭제 -->
                      <button type="button"><span>직접입찰</span></button>
                    </li>
                    <li><!-- 웹접근성 2026-01-27 : role, aria-selected 삭제 -->
                      <button type="button"><span>전자입찰</span></button>
                    </li>
                  </ul>
                </div>
                <!--// 셀렉트 직접입찰 -->
                <div class="btn-wrap">
                  <button class="btn-primary sm">
                    <i class="ico-search" aria-hidden="true"></i>
                    <span>검색</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// search -->
            <div class="table-scroll">
              <div class="table-wrap">
                <table class="table-list">
                  <caption>
                    입찰공고 - 번호,	입찰종류,	공고번호,	입찰건명,	입찰서 제출기간, 	공고일자에 대한 정보를 제공
                  </caption><!-- 웹접근성 2026-02-11 : 문구 수정 -->
                  <colgroup>
                    <col style="width: 8%" />
                    <col style="width: 10%" />
                    <col style="width: 10%" />
                    <col />
                    <col style="width: 20%" />
                    <col style="width: 10%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">번호</th>
                      <th scope="col">입찰종류</th>
                      <th scope="col">공고번호</th>
                      <th scope="col">입찰건명</th>
                      <th scope="col">입찰서 제출기간</th>
                      <th scope="col">공고일자</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>직접입찰</td>
                      <td>2025-02</td>
                      <td class="align-left">
                        <a class="link ellipsis" href="#"> [종료] 동북선도시철도 노선 지붕형 태양광 발전 임대사업 </a>
                      </td>
                      <td>2025-06-05~2025-08-08</td>
                      <td>2025-07</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="pagination-box">
              <ul>
                <li class="page-item prev">
                  <a href="#">
                    <span>이전</span>
                  </a>
                </li>
                <li class="page-item on">
                  <a href="#" aria-label="현재 페이지">1</a><!-- 웹접근성 2026-01-27 : aria 추가 -->
                </li>
                <li class="page-item">
                  <a href="#">2</a>
                </li>
                <li class="page-item">
                  <a href="#">3</a>
                </li>
                <li class="page-item next">
                  <a href="#">
                    <span>다음</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
