<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>이용안내</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>역정보</span></a>
              </li>
              <li>
                <a href="#"><span>열차시간표</span></a>
              </li>
              <li>
                <a href="#"><span>실시간 열차 정보</span></a>
              </li>
              <li class="is-active">
                <a href="#"><span>운임안내</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>운임제도</span></a>
                  </li>
                  <li>
                    <a href="#"><span>승차권안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>여객운송약관</span></a>
                  </li>
                  <li class="on">
                    <a href="#"><span>운임계산하기</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>편의시설</span></a>
                <ul class="lnb-depth2-list">
                  <li>
                    <a href="#"><span>편의시설 소개</span></a>
                  </li>
                  <li>
                    <a href="#"><span>교통약자 편의시설</span></a>
                  </li>
                  <li>
                    <a href="#"><span>이용자 편의시설</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><span>유실물센터</span></a>
              </li>
              <li>
                <a href="#"><span>간편지연증명서</span></a>
              </li>
              <li>
                <a href="#"><span>승강설비가동현황</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-information">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">승차권 안내</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>운임안내</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>운임계산하기</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            
            <div class="tab-wrap radius">
              <div class="tabs" data-tab-level="main" role="tablist" aria-label="GTX 노선 선택"><!-- 웹접근성 2026-01-27 : aria 값 수정 -->
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="main-tab-1"
                  aria-controls="main-panel-1"
                  aria-selected="true"
                  tabindex="0"
                >
                  운정중앙역 - 서울역
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="main-tab-2"
                  aria-controls="main-panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  수서역 - 동탄역
                </button>
              </div>
              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="main-panel-1"
                  role="tabpanel"
                  aria-labelledby="main-tab-1"
                >
                  <div class="text-list-box">
                    <ul class="text-list">
                      <li>출발역과 도착역을 선택하시면 운임 및 소요시간을 확인할 수 있습니다.</li>
                    </ul>
                  </div>
                  <!-- 출발 도착역 선택 -->
                  <div class="station-search-form">
                    <div class="select-box-form">
                      <span class="label">출발</span>
                      <div class="select-box">
                        <button type="button" class="select-btn" title="설정" aria-expanded="false" aria-controls="select-list-1">
                          <span>출발역 선택</span>
                        </button>
                        <ul class="select-list" hidden="" tabindex="-1" id="select-list-1">
                          <li>
                            <button type="button"><span>운정중앙</span></button>
                          </li>
                          <li>
                            <button type="button"><span>킨텍스</span></button>
                          </li>
                          <li>
                            <button type="button"><span>대곡</span></button>
                          </li>
                          <li>
                            <button type="button"><span>연신내</span></button>
                          </li>
                          <li>
                            <button type="button"><span>서울역</span></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="select-box-form">
                      <span class="label">도착</span>
                      <div class="select-box">
                        <button type="button" class="select-btn" title="설정" aria-expanded="false" aria-controls="select-list-2">
                          <span>도착역 선택</span>
                        </button>
                        <ul class="select-list" hidden="" tabindex="-1" id="select-list-2">
                          <li>
                            <button type="button"><span>운정중앙</span></button>
                          </li>
                          <li>
                            <button type="button"><span>킨텍스</span></button>
                          </li>
                          <li>
                            <button type="button"><span>대곡</span></button>
                          </li>
                          <li>
                            <button type="button"><span>연신내</span></button>
                          </li>
                          <li>
                            <button type="button"><span>서울역</span></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-wrap">
                      <button class="btn-line refresh">
                        <span><img src="/icons/refresh.svg" alt="새로 고침"></span>
                      </button>
                    </div>
                  </div>
                  <!--// 출발 도착역 선택 -->
                  <!-- station line -->
                  <div class="station-line-wrap type02">
                    <div class="station-line">
                      <div class="station-link-wrap">
                        <button type="button" class="station-link pin">
                          <span class="circle" aria-hidden="true"></span>
                          <span class="text">운정중앙</span>
                        </button>
                      </div>
                      <div class="station-link-wrap">
                        <button type="button" class="station-link pin">
                          <span class="circle" aria-hidden="true"></span>
                          <span class="text">킨텍스</span>
                        </button>
                      </div>
                      <div class="station-link-wrap">
                        <button type="button" class="station-link pin">
                          <span class="circle" aria-hidden="true"></span>
                          <span class="text">대곡</span>
                        </button>
                      </div>
                      <div class="station-link-wrap">
                        <button type="button" class="station-link pin"><!-- 클릭시 on -->
                          <span class="circle" aria-hidden="true"></span>
                          <span class="text">연신내</span>
                        </button>
                      </div>
                      <div class="station-link-wrap">
                        <button type="button" class="station-link pin">
                          <span class="circle" aria-hidden="true"></span>
                          <span class="text">서울역</span>
                        </button>
                      </div>
                    </div>
                    <!-- floating -->
                    <div class="floating-switch" role="group" aria-label="출발 도착 설정" hidden>
                      <button type="button" class="switch-btn" data-type="start">출발</button>
                      <button type="button" class="switch-btn" data-type="end">도착</button><!-- 선택시 active -->
                    </div>
                    <!--// floating -->
                  </div>
                  <!--// station line -->
                  <div class="table-scroll mt-40">
                    <div class="table-wrap horizontal type02">
                      <table>
                        <caption>
                          소요시간, 일반요금, 승차거리에 대한 정보를 제공
                        </caption>
                        <colgroup>
                          <col>
                          <col>
                          <col>
                          <col>
                          <col>
                          <col>
                        </colgroup>
                        <tbody>
                          <tr>
                            <th scope="row">소요시간</th>
                            <td>11분</td>
                            <th scope="row">일반요금</th>
                            <td>카드 3,700원</td>
                            <th scope="row">승차거리</th>
                            <td>0.00 km</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-panel"
                  id="main-panel-2"
                  role="tabpanel"
                  aria-labelledby="main-tab-2"
                  aria-hidden="true"
                >
                  2222
                </div>
              </div>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
