<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Train Station Guide</strong><span>편의시설 소개</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>편의시설</span></a>
                  </li>
                  <li class="is-active">
                    <span>편의시설 소개</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/information/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-information">
            <div class="line-box" data-animation="fade-up">
              <div class="line-box-body">
                <p class="line-box-title">편의시설</p>
                <p class="line-box-desc">
                  고객을 가장 먼저 생각했습니다. 지하철 역사에 들어서는 순간부터, 여행을 마치고
                  출구를 나설 때까지 고객의 눈높이에 맞추었습니다.<br />보다 쾌적하고 안전한 여행,
                  수도권광역급행철도에이선(동북선도시철도)이 함께 합니다.
                </p>
              </div>
            </div>

            <div class="amenity-wrap" data-animation="fade-up">
              <h3 class="amenity-title" data-animation="fade-up">
                <strong>고객을 위한 배려와 소통을</strong>
                <span class="mo-br" aria-hidden="true"></span> 위한 공간 제공
              </h3>
              <ul class="amenity-list">
                <li data-animation="fade-up">
                  <span class="amenity-label">자연 친화적 색채</span>
                  <img
                    src="/assets/images/information/amenity-view01.png"
                    alt="자연 친화적 색채 적용 예시"
                  />
                </li>
                <li data-animation="fade-up">
                  <span class="amenity-label">친환경 소재</span>
                  <img src="/assets/images/information/amenity-view02.png" alt="친환경 소재 사용 예시" />
                </li>
                <li data-animation="fade-up">
                  <span class="amenity-label">쾌적하고 편안한 공간 연출</span>
                  <img
                    src="/assets/images/information/amenity-view03.png"
                    alt="쾌적하고 편안한 공간 연출 예시"
                  />
                </li>
              </ul>
            </div>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
