<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Train Station Guide</strong><span>역 주변 관광안내</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>이용안내</span></a>
                  </li>
                  <li>
                    <a href="#"><span>편의시설</span></a>
                  </li>
                  <li class="is-active">
                    <span>역 주변 관광안내</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/information/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-information">
            <ul class="station-tour-list">
              <li>
                <dl>
                  <dt>
                    <strong>1. 북서울 꿈의숲</strong>
                  </dt>
                  <dd>
                    <p>강북의 '서울숲'으로 불리는 대규모 공원입니다. <br>칠폭지, 월영지 등 수경 시설과 울창한 숲이 있어 산책과 피크닉을 즐기기 좋습니다.</p>
                    <span class="location">위례호수공원역 인근</span>
                  </dd>
                </dl>
                <div class="img-wrap">
                  <img src="/assets/images/information/station-tour-01.png" alt="">
                </div>
              </li>
              <li>
                <dl>
                  <dt>
                    <strong>2. 한양도성 순성길</strong>
                  </dt>
                  <dd>
                    <p>도심의 풍경과 역사적인 도성을 따라 걷는 서울의 대표적인 트레킹 코스입니다.<br>성북동이나 대학로 인근에서 진입이 용이합니다.</p>
                    <span class="location">전 노선 연결</span>
                  </dd>
                </dl>
                <div class="img-wrap">
                  <img src="/assets/images/information/station-tour-01.png" alt="">
                </div>
              </li>
              <li>
                <dl>
                  <dt>
                    <strong>3. 길상사 _ <span>성북동 역사·문화 탐방</span></strong>
                  </dt>
                  <dd>
                    <p>성북동에 위치한 조용한 사찰로, 법정 스님의 흔적이 남아있는 도심 속 힐링 공간입니다.</p>
                    <span class="location">장지천교 구간</span>
                  </dd>
                </dl>
                <div class="img-wrap">
                  <img src="/assets/images/information/station-tour-01.png" alt="">
                </div>
              </li>
            </ul>
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
