<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Safety/Technology</strong><span>열차편의시설 및 내부특징</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>안전/기술</span></a>
                  </li>
                  <li>
                    <a href="#"><span>차량소개</span></a>
                  </li>
                  <li class="is-active">
                    <span>열차편의시설 및 내부특징</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/safety/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-safety">
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="열차편의시설 및 내부특징">
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  열차소개 및 외부특징
                </button>
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="true"
                  tabindex="0"
                >
                  열차편의시설 및 내부특징
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                >
                  <!-- 이미지 -->
                  <div class="img-box mb-80" data-animation="fade-up">
                    <img src="/assets/images/safety/train-facility.png" alt="" />
                  </div>
                  <!--// 이미지 -->
                  <h3 class="heading-sm " data-animation="fade-up">내부 특징</h3>
                  <ul class="train-feature facility" data-animation="fade-up">
                    <li data-animation="fade-up">
                      <img src="/assets/images/safety/train-facility01.png" alt="" />
                      <div class="desc">
                        <span class="num">1</span>
                        <p class="txt">인체공학적 설계를 통한 착좌감 개선한 좌석</p>
                      </div>
                    </li>
                    <li data-animation="fade-up">
                      <img src="/assets/images/safety/train-facility02.png" alt="" />
                      <div class="desc">
                        <span class="num">2</span>
                        <p class="txt">넓고 개방된 객실 간 연결통로</p>
                      </div>
                    </li>
                    <li data-animation="fade-up">
                      <img src="/assets/images/safety/train-facility03.png" alt="" />
                      <div class="desc">
                        <span class="num">3</span>
                        <p class="txt">실내 동영상 표시장치 </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
