<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>안전/기술</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>안전관리체계</span></a>
              </li>
              <li class="is-active">
                <a href="#"><span>비상시 행동요령</span></a>
              </li>
              <li>
                <a href="#"><span>안전장비 및 사용법</span></a>
              </li>
              <li>
                <a href="#"><span>지하철이용 안전수칙</span></a>
              </li>
              <li>
                <a href="#"><span>종합관제센터</span></a>
              </li>
              <li>
                <a href="#"><span>차량소개</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-safety">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">비상시 행동요령</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>안전/기술</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>비상시 행동요령</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="비상시 행동요령"><!-- 웹접근성 2026-01-27 : aria-label 값 변경 -->
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="true"
                  tabindex="0"
                >
                  화재 발생시
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  지진 발생시
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  테러 발생시
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <h3 class="txt-hide">화재발생시 비상행동요령</h3>
                  <!-- 이미지 -->
                  <div class="img-box" data-animation="fade-up">
                    <div class="img-box-label">
                      <i class="ico-safe-01" aria-hidden="true"></i>
                      <p class="img-box-text">비상시 행동요령</p>
                    </div>
                    <img src="/assets/images/safety/safe-img02.png" alt="" />
                  </div>
                  <!--// 이미지 -->
                  <!-- 리스트 -->
                  <div class="text-list-box" data-animation="fade-up">
                    <ul class="text-list">
                      <li>역사 내 연기 또는 화재 발생 시 직원에게 알려 주세요.</li>
                      <li>열차에서 화재 발생 시 객실 끝 비상호출장치를 이용해주세요.</li>
                      <li>
                        화재진압시 열차 또는 역사에 비치된 소화기를 사용법에 따라 안전하게 사용하여
                        주세요.
                      </li>
                      <li>역직원의 안내에 따라 대피하여 주세요.</li>
                      <li>
                        위험물 또는 인화물질 반입을 금합니다. (페인트, 신나, 압축가스 용기 등)
                      </li>
                      <li>역 시설 내에서는 금연입니다.</li>
                      <li>화재 시 외에는 무단으로 소방시설을 사용하지 마십시오.</li>
                    </ul>
                  </div>
                  <!--// 리스트 -->
                </div>
                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
