<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- header -->
          <div class="section-header">
            <div class="header-info">
              <h2 class="section-title">
                <strong>Safety/Technology</strong><span>안전장비 및 사용법</span>
              </h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <li>
                    <a href="#"><span>안전/기술</span></a>
                  </li>
                  <li>
                    <a href="#"><span>안전관리</span></a>
                  </li>
                  <li class="is-active">
                    <span>안전장비 및 사용법</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-visual">
              <img src="/assets/images/safety/sub-visual.jpg" alt="">
            </div>
          </div>
          <!--// header -->
          <!-- contents -->
          <section id="page-content" class="page-safety">
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="안정장비 사용법">
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  소화기 사용법
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  소화전 사용법
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="false"
                  tabindex="-1"
                >
                  승강설비 사용방법
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  방독면 착용법
                </button>
                <button
                  class="tab-btn wide is-active"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="true"
                  tabindex="0"
                >
                  AED(자동제세동기) 사용법
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                >
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                >
                  <!-- AED(자동제세동기) 사용법 -->
                  <ol class="step-wrap step-type02 line" data-animation="fade-up">
                    <li class="step-item" data-animation="fade-up">
                      <span class="step-num">STEP 1.</span>
                      <div class="step-image">
                        <img src="/assets/images/safety/aed-step01.png" alt="1.전원켜기:기기에서 나오는 음성 지시를 따르세요." />
                      </div>
                      <i class="ico-arrow-right02" aria-hidden="true"></i>
                    </li>
                    <li class="step-item" data-animation="fade-up">
                      <span class="step-num">STEP 2.</span>
                      <div class="step-image">
                        <img src="/assets/images/safety/aed-step02.png" alt="2.패드부착:[Pad 1] 오른쪽 빗장뼈(쇄골) 아래, [Pad 2] 왼쪽 젖꼭지 아래 중간 겨드랑이 선" />
                      </div>
                      <i class="ico-arrow-right02" aria-hidden="true"></i>
                    </li>
                    <li class="step-item" data-animation="fade-up">
                      <span class="step-num">STEP 3.</span>
                      <div class="step-image">
                        <img src="/assets/images/safety/aed-step03.png" alt="3.심장 리듬 분석 : 환자에게서 손을 떼세요" />
                      </div>
                      <i class="ico-arrow-right02" aria-hidden="true"></i>
                    </li>
                    <li class="step-item" data-animation="fade-up">
                      <span class="step-num">STEP 4.</span>
                      <div class="step-image">
                        <img src="/assets/images/safety/aed-step04.png" alt="4. 전기 충격 시행 : 쇼크 버튼을 누른 후 가슴 압박을 다시 시작하세요. 심장 충격 필요" />
                      </div>
                    </li>
                  </ol>
                  <!--// AED(자동제세동기) 사용법 -->
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
