<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- lnb -->
          <aside id="lnb-layout" class="lnb-wrap">
            <!-- title -->
            <div class="lnb-title">
              <strong>안전/기술</strong>
            </div>
            <!--// title -->
            <!-- menu -->
            <ul class="lnb-list">
              <li>
                <a href="#"><span>안전관리체계</span></a>
              </li>
              <li>
                <a href="#"><span>비상시 행동요령</span></a>
              </li>
              <li class="is-active">
                <a href="#"><span>안전장비 및 사용법</span></a>
              </li>
              <li>
                <a href="#"><span>지하철이용 안전수칙</span></a>
              </li>
              <li>
                <a href="#"><span>종합관제센터</span></a>
              </li>
              <li>
                <a href="#"><span>차량소개</span></a>
              </li>
            </ul>
            <!--// menu -->
          </aside>
          <!--// lnb -->
          <!-- contents -->
          <section id="page-content" class="page-safety">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">안전장비 및 사용법</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>안전/기술</span></a>
                  </li>
                  <li class="is-active">
                    <a href="#"><span>안전장비 및 사용법</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>
            <!--// header -->
            <!-- tab -->
            <div class="tab-wrap">
              <div class="tabs" role="tablist" aria-label="안정장비 사용법"><!-- 웹접근성 2026-01-27 : aria-label 값 변경 -->
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-1"
                  aria-controls="panel-1"
                  aria-selected="false"
                  tabindex="-1"
                >
                  소화기 사용법
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-2"
                  aria-controls="panel-2"
                  aria-selected="false"
                  tabindex="-1"
                >
                  소화전 사용법
                </button>
                <button
                  class="tab-btn is-active"
                  role="tab"
                  id="tab-3"
                  aria-controls="panel-3"
                  aria-selected="true"
                  tabindex="0"
                >
                  승강설비 사용방법
                </button>
                <button
                  class="tab-btn"
                  role="tab"
                  id="tab-4"
                  aria-controls="panel-4"
                  aria-selected="false"
                  tabindex="-1"
                >
                  방독면 착용법
                </button>
                <button
                  class="tab-btn wide"
                  role="tab"
                  id="tab-5"
                  aria-controls="panel-5"
                  aria-selected="false"
                  tabindex="-1"
                >
                  AED(자동제세동기) 사용법
                </button>
              </div>

              <div class="tab-panels">
                <div
                  class="tab-panel"
                  id="panel-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>

                <div
                  class="tab-panel"
                  id="panel-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                ><!-- 웹접근성 2026-01-06 : aria-hidden 삭제 -->
                  <h3 class="heading-sm" data-animation="fade-up">엘리베이터</h3>
                  <!-- 이미지 -->
                  <div class="img-box" data-animation="fade-up">
                    <div class="img-box-label">
                      <i class="ico-safe-02" aria-hidden="true"></i>
                      <p class="img-box-text">승강설비 사용방법</p>
                    </div>
                    <img src="/assets/images/safety/safe-img04.png" alt="" />
                  </div>
                  <!--// 이미지 -->
                  <!-- 리스트 -->
                  <div class="text-list-box" data-animation="fade-up">
                    <h4 class="text-list-title">이용자 준수사항</h4>
                    <ul class="text-list">
                      <li>
                        정원 및 적재하중의 초과는 고장이나 사고의 원인이 되므로 하지 말아야 합니다.
                      </li>
                      <li>
                        조작법의 임의로 변경 및 비상정지 스위치 등을 장난으로 조작하지 말아야
                        합니다.
                      </li>
                      <li>승강기의 출입문을 흔들거나 기대지 말아야 합니다.</li>
                      <li>승강장 문을 강제로 개방하지 말아야 합니다.</li>
                      <li>문턱 등에 이물질 등을 버리지 말아야 합니다.</li>
                    </ul>
                  </div>
                  <!--// 리스트 -->
                  <hr class="divider" aria-hidden="true" data-animation="fade-up" />
                  <h3 class="heading-sm" data-animation="fade-up">에스컬레이터</h3>
                  <!-- 이미지 -->
                  <div class="img-box" data-animation="fade-up">
                    <div class="img-box-label">
                      <i class="ico-safe-03" aria-hidden="true"></i>
                      <p class="img-box-text">승강설비 사용방법</p>
                    </div>
                    <img src="/assets/images/safety/safe-img05.png" alt="" />
                  </div>
                  <!--// 이미지 -->
                  <!-- 리스트 -->
                  <div class="text-list-box" data-animation="fade-up">
                    <h4 class="text-list-title">이용자 준수사항</h4>
                    <ul class="text-list">
                      <li>넘어질 우려가 있으므로 걷거나 뛰지 말아야 합니다.</li>
                      <li>옷이나 물건 등이 틈새에 끼지 않도록 주의하여야 합니다.</li>
                      <li>황색안전선 앞쪽에 서서 양 옆의 핸드레일(손잡이)을 잡고 있어야 합니다.</li>
                      <li>어린이나 노약자는 보호자와 함께 이용해야 합니다.</li>
                      <li>핸드레일 밖으로 몸을 내밀지 말아야 합니다.</li>
                      <li>
                        카트, 캐리어 등을 가지고 계신 분은 엘리베이터를 이용해 주시길 바랍니다.
                      </li>
                    </ul>
                  </div>
                  <div class="text-list-box" data-animation="fade-up">
                    <h4 class="text-list-title">비상 시 대처법</h4>
                    <ul class="text-list">
                      <li>
                        사고 발생 시 주위 사람에게 큰 소리로 알리고, 비상정지 버튼을 눌러야 합니다.
                      </li>
                    </ul>
                  </div>
                  <!--// 리스트 -->
                </div>

                <div
                  class="tab-panel"
                  id="panel-4"
                  role="tabpanel"
                  aria-labelledby="tab-4"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
                <div
                  class="tab-panel"
                  id="panel-5"
                  role="tabpanel"
                  aria-labelledby="tab-5"
                  hidden
                ><!-- 웹접근성 2026-01-06 : aria-hidden, tabindex 삭제 -->
                  <p class="txt-hide">이 탭에는 현재 제공되는 정보가 없습니다.</p>
                </div>
              </div>
            </div>
            <!--// tab -->
          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
