<div class="all-menu" id="allMenuPop" role="dialog" aria-modal="true" aria-hidden="true">
  <div class="all-menu-inner">
    <div class="all-menu-header">
      <h2>
        <img src="/icons/logo.svg" alt="동북선도시철도(주) 로고" />
      </h2>
      <button type="button" class="all-menu-close" aria-label="전체메뉴 닫기">
        <i class="ico-allmenu-close" aria-hidden="true"></i>
      </button>
    </div>
    <nav class="all-menu-body" aria-label="사이트맵">
      <section class="all-menu-col" aria-labelledby="allmenu-title-1">
        <h3 id="allmenu-title-1" class="all-menu-title">이용안내</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link"><span>역정보</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-01-2"><span>열차시간표</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-01-2">
              <li>
                <a href="#"><span>운정중앙역-서울역</span></a>
              </li>
              <li>
                <a href="#"><span>수서역-동탄역</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>실시간 열차 정보</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-01-3"><span>운임안내</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-01-3">
              <li>
                <a href="#"><span>운임제도</span></a>
              </li>
              <li>
                <a href="#"><span>승차권안내</span></a>
              </li>
              <li>
                <a href="#"><span>여객운송약관</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-01-4"><span>편의시설</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-01-4">
              <li>
                <a href="#"><span>편의시설 소개</span></a>
              </li>
              <li>
                <a href="#"><span>교통약자 편의시설</span></a>
              </li>
              <li>
                <a href="#"><span>이용자 편의시설</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>유실물센터</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>간편지연증명서</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>승강설비가동현황</span></a>
          </li>
        </ul>
      </section>
      <!-- 고객참여 -->
      <section class="all-menu-col" aria-labelledby="allmenu-title-2">
        <h3 id="allmenu-title-2" class="all-menu-title">고객참여</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link" id="menu-02-1"><span>고객의 소리</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-02-1">
              <li>
                <a href="#"><span>이용안내</span></a>
              </li>
              <li>
                <a href="#"><span>작성하기</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-02-2"><span>문화마당</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-02-2">
              <li>
                <a href="#"><span>이용안내</span></a>
              </li>
              <li>
                <a href="#"><span>신청하기</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-02-3"><span>이벤트/공모</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-02-3">
              <li>
                <a href="#"><span>이벤트/공모 참여</span></a>
              </li>
              <li>
                <a href="#"><span>당첨자확인</span></a>
              </li>
              <li>
                <a href="#"><span>참여후기</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>FAQ</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-02-4"><span>부패방지신고센터</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-02-4">
              <li>
                <a href="#"><span>이용안내</span></a>
              </li>
              <li>
                <a href="#"><span>신고하기</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <!-- 알림마당 -->
      <section class="all-menu-col" aria-labelledby="allmenu-title-3">
        <h3 id="allmenu-title-3" class="all-menu-title">알림마당</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link"><span>공지사항</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>보도자료</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>자료실</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-03-4"><span>홍보관</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-03-4">
              <li>
                <a href="#"><span>홍보영상</span></a>
              </li>
              <li>
                <a href="#"><span>포토갤러리</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>입찰공고</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>감사결과</span></a>
          </li>
        </ul>
      </section>

      <!-- 안전/기술 -->
      <section class="all-menu-col" aria-labelledby="allmenu-title-4">
        <h3 id="allmenu-title-4" class="all-menu-title">안전/기술</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link"><span>안전관리체계</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>비상시 행동요령</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>안전장비 및 사용법</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>지하철이용 안전수칙</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>종합관제센터</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>차량소개</span></a>
          </li>
        </ul>
      </section>

      <!-- 회사소개 -->
      <section class="all-menu-col" aria-labelledby="allmenu-title-5">
        <h3 id="allmenu-title-5" class="all-menu-title">회사소개</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link" id="menu-05-1"><span>에스지레일(주)</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-05-1">
              <li>
                <a href="#"><span>회사소개</span></a>
              </li>
              <li>
                <a href="#"><span>채용공고</span></a>
              </li>
              <li>
                <a href="#"><span>찾아오시는 길</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="all-menu-link" id="menu-05-2"><span>지티엑스에이운영(주)</span></a>
            <ul class="all-menu-depth2" aria-labelledby="menu-05-2">
              <li>
                <a href="#"><span>회사소개</span></a>
              </li>
              <li>
                <a href="#"><span>인재상</span></a>
              </li>
              <li>
                <a href="#"><span>채용공고</span></a>
              </li>
              <li>
                <a href="#"><span>찾아오시는 길</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <!-- 외부링크 -->
       <section class="all-menu-col" aria-labelledby="allmenu-title-6">
        <h3 id="allmenu-title-5" class="all-menu-title">외부링크</h3>
        <ul class="all-menu-list">
          <li>
            <a href="#" class="all-menu-link"><span>네이버</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>단테하는사람 나야나</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>관리자페이지</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>다음</span></a>
          </li>
          <li>
            <a href="#" class="all-menu-link"><span>유튜브</span></a>
          </li>
        </ul>
      </section>

    </nav>
  </div>
</div>
