<footer id="footer" role="contentinfo">
  <div class="inner">
    <div class="footer-top">
      <nav aria-label="푸터 메뉴">
        <ul class="footer-nav">
          <li><a href="/#">개인정보처리방침</a></li>
          <li><a href="#footerPop">이메일무단수집거부</a></li>
          <li><a href="/#">여객운송약관</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <address>
        <p><strong>동북선</strong>서울시 동대문구 왕산로 127(제기동 1132)</p>
        <p>COPYRIGHT © Dongbuk Urban Railway Co.,Ltd.</p>
      </address>
      <div class="logo"><img src="/images/main/logo-footer.svg" alt="동북선 로고" /></div>
    </div>
  </div>
</footer>
