<div id="footerPop" aria-modal="true" aria-hidden="true" hidden>
  <div class="modal-dialog" role="document" tabindex="-1">
    <div class="modal-header">
      <h3>이메일무단수집거부</h3>
      <button type="button" class="modal-btn-close">
        <i class="ico-modal-close" aria-hidden="true"></i>
        <span class="txt-hide">닫기</span>
      </button>
    </div>
    <div class="modal-body">
      본 웹사이트에 게시된 이메일 주소가 전자우편수집 프로그램이나 그 밖의 기술적 장치를 이용하여
      무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망 이용 촉진 및 정보보호등에 관한 법률에
      의해 처벌 받을 수 있습니다.
    </div>
  </div>
</div>
