<!--  메인일때와 서브일때 분기 필요 -->
<div id="skipnavi">
   <!-- 메인 페이지일때 -->
	<a href="#main-content">메인본문 바로가기</a>
	<a href="#gnb">대메뉴 바로가기</a>

  <!-- 서브 페이지일때 -->
	<!-- <a href="#page-content">본문 바로가기</a>
	<a href="#gnb">대메뉴 바로가기</a> -->
  <!--// 서브 페이지일때 -->
</div>

<header id="header">
  <div class="inner">
    <h1 class="logo">
      <a href="/"> <img src="/icons/logo.svg" alt="동북선도시철도(주) 메인으로이동" /> </a>
      <a href="/" class="mobile-logo" aria-hidden="true" tabindex="-1">
        <img src="/icons/logo.svg" alt="동북선도시철도(주) 메인으로이동" />
      </a>
    </h1>
    <!-- nav -->
    <div class="nav-wrap">
      <nav id="gnb" aria-label="메인 메뉴">
        <ul class="gnb-list">
          <li>
            <a href="#" class="gnb-link">이용안내</a>
            <div class="gnb-submenu-wrap">
              <div class="gnb-box">
                <div class="gnb-title">
                  <h2>이용안내</h2>
                </div>
                <ul class="gnb-depth2-list">
                  <li>
                    <a href="#"><span>역정보</span></a>
                  </li>
                  <li>
                    <a href="#"><span>열차시간표</span></a>
                  </li>
                  <li>
                    <a href="#"><span>실시간 열차 정보</span></a>
                  </li>
                  <li>
                    <a href="#" id="list-01-4"><span>운임안내</span></a><!-- 웹접근성 2026-01-27 : id 추가 -->
                    <ul class="gnb-depth3-list" aria-labelledby="list-01-4"><!-- 웹접근성 2026-01-27 : aria 추가 -->
                      <li>
                        <a href="#"><span>운임제도</span></a>
                      </li>
                      <li>
                        <a href="#"><span>승차권 안내</span></a>
                      </li>
                      <li>
                        <a href="#"><span>여객운송약관</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" id="list-01-5"><span>편의시설</span></a><!-- 웹접근성 2026-01-27 : id 추가 -->
                    <ul class="gnb-depth3-list" aria-labelledby="list-01-5"><!-- 웹접근성 2026-01-27 : aria 추가 -->
                      <li>
                        <a href="#"><span>편의시설 소개</span></a>
                      </li>
                      <li>
                        <a href="#"><span>교통약자 편의시설</span></a>
                      </li>
                      <li>
                        <a href="#"><span>이용자 편의시설</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>유실물 센터</span></a>
                  </li>
                  <li>
                    <a href="#"><span>간편지연증명서</span></a>
                  </li>
                  <li>
                    <a href="#"><span>승강설비가동현황</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gnb-link">고객참여</a>
            <div class="gnb-submenu-wrap">
              <div class="gnb-box">
                <ul class="gnb-depth2-list">
                  <li>
                    <a href="#" id="list-02-1"><span>고객의 소리</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-02-1">
                      <li>
                        <a href="#"><span>이용안내</span></a>
                      </li>
                      <li>
                        <a href="#"><span>승차권 안내</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" id="list-02-2"><span>문화마당</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-02-2">
                      <li>
                        <a href="#"><span>이용안내</span></a>
                      </li>
                      <li>
                        <a href="#"><span>신청하기</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" id="list-02-3"><span>촬영신청</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-02-3">
                      <li>
                        <a href="#"><span>이용안내</span></a>
                      </li>
                      <li>
                        <a href="#"><span>신청하기</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>광고문의</span></a>
                  </li>
                  <li>
                    <a href="#" id="list-02-5"><span>이벤트/공모</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-02-5">
                      <li>
                        <a href="#"><span>이벤트/공모 참여</span></a>
                      </li>
                      <li>
                        <a href="#"><span>당첨자 확인</span></a>
                      </li>
                      <li>
                        <a href="#"><span>참여후기</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>자주묻는 질문</span></a>
                  </li>
                  <li>
                    <a href="#" id="list-02-7"><span>부패방지신고센터</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-02-7">
                      <li>
                        <a href="#"><span>이용안내</span></a>
                      </li>
                      <li>
                        <a href="#"><span>신고하기</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gnb-link">알림마당</a>
            <div class="gnb-submenu-wrap">
              <div class="gnb-box">
                <div class="gnb-title">
                  <h2>알림마당</h2>
                </div>
                <ul class="gnb-depth2-list">
                  <li>
                    <a href="#"><span>공지사항</span></a>
                  </li>
                  <li>
                    <a href="#"><span>보도자료</span></a>
                  </li>
                  <li>
                    <a href="#"><span>자료실</span></a>
                  </li>
                  <li>
                    <a href="#" id="list-03-4"><span>홍보관</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-03-4">
                      <li>
                        <a href="#"><span>홍보영상</span></a>
                      </li>
                      <li>
                        <a href="#"><span>포토갤러리</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>입찰공고</span></a>
                  </li>
                  <li>
                    <a href="#"><span>감사결과</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gnb-link">안전/기술</a>
            <div class="gnb-submenu-wrap">
              <div class="gnb-box">
                <div class="gnb-title">
                  <h2>안전/기술</h2>
                </div>
                <ul class="gnb-depth2-list">
                  <li>
                    <a href="#"><span>안전관리체계</span></a>
                  </li>
                  <li>
                    <a href="#"><span>비상시 행동요령</span></a>
                  </li>
                  <li>
                    <a href="#"><span>안전장비 및 사용법</span></a>
                  </li>
                  <li>
                    <a href="#"><span>지하철이용 안전수칙</span></a>
                  </li>
                  <li>
                    <a href="#"><span>종합관제센터</span></a>
                  </li>
                  <li>
                    <a href="#"><span>차량소개</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gnb-link">회사소개</a>
            <div class="gnb-submenu-wrap">
              <div class="gnb-box">
                <div class="gnb-title">
                  <h2>회사소개</h2>
                </div>
                <ul class="gnb-depth2-list">
                  <li>
                    <a href="#" id="list-05-1"><span>에스지레일(주)</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-05-1">
                      <li>
                        <a href="#"><span>회사소개</span></a>
                      </li>
                      <li>
                        <a href="#"><span>채용공고</span></a>
                      </li>
                      <li>
                        <a href="#"><span>찾아오시는 길</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" id="list-05-2"><span>지티엑스에이운영㈜</span></a>
                    <ul class="gnb-depth3-list" aria-labelledby="list-05-2">
                      <li>
                        <a href="#"><span>회사소개</span></a>
                      </li>
                      <li>
                        <a href="#"><span>인재상</span></a>
                      </li>
                      <li>
                        <a href="#"><span>채용공고</span></a>
                      </li>
                      <li>
                        <a href="#"><span>찾아오시는 길</span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <!--// nav -->
    <!-- 전체메뉴 버튼 -->
    <button class="btn-total-menu" aria-controls="allMenuPop" aria-expanded="false">
      <i class="ico-menu" aria-hidden="true"></i>
      <span class="txt-hide">전체메뉴</span>
    </button>
    <!--// 전체메뉴 버튼 -->
    <!-- 모바일메뉴 버튼 -->
    <button class="btn-gnb-toggle" aria-controls="mobile-menu" aria-expanded="false">
      <i class="ico-menu-mobile" aria-hidden="true"></i>
      <span class="txt-hide">모바일메뉴</span>
    </button>
    <!--// 모바일메뉴 버튼 -->
  </div>
</header>
