<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동북선도시철도</title>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <%- include('./components/_header') %>
      <!--// header -->

      <!-- 전체메뉴 -->
      <%- include('./components/_allmenu.ejs') %>
      <!--// 전체메뉴 -->

      <!-- 모바일 메뉴 -->
      <%- include('./components/_mobilemenu.ejs') %>
      <!--// 모바일 메뉴 -->

      <!-- main -->
      <main id="sub-content" role="main">
        <div class="inner">
          <!-- contents -->
          <section id="page-content" class="page-meta">
            <!-- header -->
            <div class="section-header">
              <h2 class="section-title">영상정보처리기기 운영 게시(안)</h2>
              <div class="section-meta">
                <ul class="location-nav">
                  <!-- 웹접근성 2026-01-27 : 추가 -->
                  <li class="home">
                    <a href="#"><span class="txt-hide">홈</span></a>
                  </li>
                  <!--// 웹접근성 2026-01-27 : 추가 -->
                  <li>
                    <a href="#"><span>영상정보처리기기 운영 게시(안)</span></a>
                  </li>
                </ul>
                <div class="tool-button">
                  <button type="button" class="btn-print" onclick="window.print()">
                    <span class="txt-hide">프린트하기</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="visual-box">
              <div class="visual-box-img-wrap">
                <img
                  src="/assets/images/meta/video-img.png"
                  alt=""
                  class="visual-box-img"
                />
              </div>
              <div class="visual-box-body">
                <p class="visual-box-title">영상정보처리기기 운영 게시(안)</p>
                <p class="visual-box-desc">
                  동북선도시철도운영(이하 ‘본 기관’이라 한다)은 영상정보처리기기 운영·관리지침을 통해 본 기관에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용 관리되고 있는지 알려드립니다.
                </p>
              </div>
            </div>

            <hr class="divider">

            <div class="list-num">
              <h3>1. 영상정보처리기기의 설치 근거 및 설치 목적</h3>
              <div class="policy-list-box">
                <ul>
                  <li>  본 기관은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보처리기기를 설치·운영 합니다.</li>
                  <li>- 시설안전 및 화재 예방, 법규위반 단속</li>
                  <li>- 고객의 안전을 위한 범죄 예방, 증거확보</li>
                </ul>
              </div>
            </div>

            <div class="list-num">
              <h3>2. 설치 대수, 설치 위치 및 촬영범위</h3>
              <div class="table-scroll">
                <div class="table-wrap">
                  <table>
                    <caption>
                      설치 대수, 설치 위치 및 촬영범위 - 설치대수, 설치 위치, 수탁대촬영범위 상자에 대한 정보
                    </caption>
                    <colgroup>
                      <col style="width: 33%" />
                      <col style="width: 33%" />
                      <col style="width: 34%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">설치대수</th>
                        <th scope="col">설치 위치</th>
                        <th scope="col">수탁대촬영범위 상자</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>887대</td>
                        <td>역사 내·외부</td>
                        <td>역이용 고객 승강편의시설, 기타 역사 시설물</td>
                      </tr>
                      <tr>
                        <td>680대</td>
                        <td>전동차 객실 전동차 전방</td>
                        <td>전동차 객실 및 전방</td>
                      </tr>
                      <tr>
                        <td>887대</td>
                        <td>차량기지</td>
                        <td>주요시설물 감시</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="list-num">
              <h3>3. 관리책임자 및 접근권한자</h3>
              <p class="text-num">◦ 책임자 지정 현황</p>
              <div class="table-scroll">
                <div class="table-wrap">
                  <table>
                    <caption>
                       관리책임자 및 접근권한자 - 구분, 관리책임자, 접근권한자, 세부지역, 비고에 대한 정보
                    </caption>
                    <colgroup>
                      <col style="width: 15%" />
                      <col style="width: 25%" />
                      <col style="width: 15%" />
                      <col style="width: 25%" />
                      <col style="width: 10%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">구분</th>
                        <th scope="col">관리책임자</th>
                        <th scope="col">접근권한자</th>
                        <th scope="col">세부지역</th>
                        <th scope="col">비고</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>종합상황센터</td>
                        <td>종합상황처장</td>
                        <td rowspan="5">관리책임자가 지정한자</td>
                        <td>통신기계실</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>역사</td>
                        <td>역무사업소장</td>
                        <td>역사 내</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>차량기지</td>
                        <td rowspan="2">차량사업소장</td>
                        <td>전동차</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>전동차</td>
                        <td>전동차</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>기타 시설물</td>
                        <td>기술사업소장</td>
                        <td>변전소, 선로전환기, 집수정</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="list-num">
              <h3>4. 영상정보의 촬영시간, 보관기간, 보관장소 및 처리방법</h3>
              <div class="table-scroll">
                <div class="table-wrap">
                  <table>
                    <caption>
                      영상정보의 촬영시간, 보관기간, 보관장소 및 처리방법 - 설치위치, 촬영시간, 보관기간, 보관장소에 대한 정보
                    </caption>
                    <colgroup>
                      <col style="width: 10%" />
                      <col style="width: 20%" />
                      <col style="width: 50%" />
                      <col style="width: 20%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">설치위치</th>
                        <th scope="col">촬영시간</th>
                        <th scope="col">보관기간</th>
                        <th scope="col">보관장소</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>역 사</td>
                        <td>24시간</td>
                        <td rowspan="2">촬영일로부터 7일, <br>단, 사건 사고 등으로 기록보존 지시 등 특별한 조치를 취한 영상정보는 관련법규에 따름</td>
                        <td>각 역 고객안전센터, 통신 기계실, 종합상황센터</td>
                      </tr>
                      <tr>
                        <td>전동차</td>
                        <td>열차 운행시간</td>
                        <td>운전실(앞, 뒤)</td>
                      </tr>
                      <tr>
                        <td>차량기지</td>
                        <td>24시간</td>
                        <td>촬영일로부터 90일, <br>단, 사건 사고 등으로 기록보존 지시 등 특별한 조치를 취한 영상정보는 관련법규에 따름</td>
                        <td>차량기지</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <p class="text-num mt-10">◦ 처리방법</p>
              <ul class="line-box-list pl-10">
                <li>개인영상정보에 대한 불법적 접근 및 변조·누출·훼손 등을 대비하여 ID와 P/W를 부여하여 관리</li>
                <li>개인영상정보의 목적 외 이용, 제3자 제공, 파기, 열람 등 요구에 관한 사항을 기록·관리</li>
                <li>저장된 영상정보는 하드디스크 용량에 따라 자동 삭제(출력물의 경우 파쇄 또는 소각)</li>
              </ul>
            </div>

            <div class="list-num">
              <h3>5. 개인영상정보의 확인 방법 및 장소에 관한 사항</h3>
              <div class="policy-list-box">
                <ul class="indent-list">
                  <li> 1) 개인영상정보에 관하여 열람 또는 존재확인·삭제를 원하는 경우 영상정보처리기기 관리책임자 및 접근권한자에게 요구하실 수 있습니다.</li>
                  <li> 2) 단, 정보주체 자신이 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다.
                  </li>
                  <li> 3) 녹화된 영상정보의 열람, 재생장소는 영상녹화장치가 설치된 장소로 합니다. 
                    <p class="pl-10">※ 영상정보 열람 요청 시 개인정보보호법 시행령 제47조에 근거하여 정보주체 이외의 자의 개인영상정보를 알아볼 수 없도록 모자이크 등 비식별조치를 취한 후 열람물을 제공, 비식별조치 비용은 정보주체가 부담합니다.</p></li>
                </ul>
              </div>
            </div>

            <div class="list-num">
              <h3>6. 정보주체의 영상정보 열람, 복사 등 요구에 대한 조치</h3>
              <div class="policy-list-box">
                <ul class="indent-list">
                  <li>1) 본 기관은 정보주체의 열람 등의 요구를 받았을 때에는 지체없이 필요한 조치를 취할 것이며, 이 경우, 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지 주민등록증, 운전면허증, 여권 등의 신분증명서를 제출받아 확인합니다.</li>
                  <li>2) 제1항의 규정에도 불구하고 다음에 해당하는 경우에는 정보주체의 개인영상정보 열람 등 요구를 거부할 수 있습니다. 이 경우 10일 이내에 서면 등으로 거부 사유를 정보주체에게 통지하도록 하겠습니다.
                    <ul class="number-list type02">
                      <li>가. 범죄수사·공소유지·재판수행에 중대한 지장을 초래하는 경우</li>
                      <li>나. 특정 정보주체의 개인영상정보를 삭제하는 것이 기술적으로 현저히 곤란한 경우</li>
                      <li>다. 제 1항에 따른 요청에 필요한 조치를 취함으로써 타인의 사생활권 등 권익이 침해될 우려가 큰 경우</li>
                      <li>라. 개인영상정보의 보관기간이 경과하여 파기한 경우</li>
                      <li>마. 기타 정보주체의 열람 등 요구를 거부할 만한 정당한 사유가 존재하는 경우</li>
                    </ul>
                  </li>
                  <li>3) 정보주체의 개인 영상정보는 영상정보처리기기의 설치 목적 외의 용도로 활용되거나 접근 권한을 부여받은 자 이외의 제3자에게 제공하지 않겠습니다. 다만 각호의 경우에는 그러지 아니합니다.
                    <ul class="number-list type02">
                      <li>가. 정보주체의 동의를 얻은 경우</li>
                      <li>나. 정보주체에게 열람·제공되는 경우</li>
                      <li>다. 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정개인을 알아볼 수 없는 형태로 개인영상정보를 제공하는 경우</li>
                      <li>라. 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
                      <li>마. 범죄의 수사와 공소의 제기 및 유지에 필요한 경우</li>
                      <li>바. 법원의 재판업무수행을 위하여 필요한 경우</li>
                    </ul>
                  </li>
                  <li>4) 영상정보의 제공(열람, 복사) 절차 및 방법은 다음과 같습니다.
                    <ul class="number-list type02">
                      <li>가. 본 기관의 안전관리처에 공문 접수 또는 현장 수보 후 승인 요청</li>
                      <li>나. 개인영상정보 열람 신청자(정보주체)는 해당 영상정보처리기기 관리책임자(접근제한자)에게 본인이거나 정당한 대리인인지를 확인하기 위해 주민등록증, 운전면허증, 여권 등 신분증명서를 제시한 후, 해당 장소의 관리책임자 (접근제한자)가 신청서 작성 후 영상정보를 제공합니다.</li>
                      <li>다. 영상정보를 제공할 경우 관리책임자(접근권한자)는 신청서, 공문 및 관리대장을 보관합니다.</li>
                      <li>라. 수사기관의 열람 시에는 범죄의 수사와 공소의 제기 및 유지에 필요한 경우, 법원의 재판업무 수행을 위하여 필요한 경우에는 신청서를 생략하고 공문만으로 갈음할 수 있습니다. </li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>

            <div class="list-num">
              <h3>7. 개인영상정보의 안정성 확보 조치</h3>
              <div class="policy-list-box">
                <p class="text">본 기관은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등부여(ID와P/W 부여)하여 관리하고 있고 개인영상정보의 위·변조 방지를 위하여 개인영상정보의 생성 일시, 열람 시 열람 목적, 열람자, 열람 일시 등을 기록하여 관리하고 있습니다. 이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금 장치를 설치하고 있습니다.</p>
              </div>
            </div>

            <div class="list-num">
              <h3>8. 개인정보 처리방침 변경에 관한 사항</h3>
              <div class="policy-list-box">
                <p class="text">이 영상정보처리기기 운영·관리방침은 2025년 12월 24일에 제정되었으며 법령·정책 또는 보안기술의 변경에 따라 내용의 추가·삭제 및 수정이 있을 시에는 시행하기 최소 7일전에 본 기관 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.</p>
              </div>
            </div>

          </section>
          <!--// contents -->
        </div>
      </main>
      <!--// main -->

      <!-- footer -->
      <%- include('./components/_footer.ejs') %>
      <!--// footer -->

      <!-- footerPopup -->
      <%- include('./components/_footerpopup.ejs') %>
      <!--// footerPopup -->
    </div>
    <script type="module" src="../../js/main.js"></script>
  </body>
</html>
